[2020-02-22 14:50] gsivaprabu opened #1 "Possible to initial developement with offline data?"
This one is not an issue just a suggestion possible to use offline data (api responses in odata format in local) not getting live data from server. (For Developement purpose)?

[OpenBMC REST cheat sheet](https://github.com/openbmc/docs/blob/master/REST-cheatsheet.md#establish-rest-connection-session)

![image](https://user-images.githubusercontent.com/2444608/75094309-f10cb100-55af-11ea-80a7-0d519

[2020-02-25 14:23] derick-montague commented on #1
Much of this will be migrated from the REST API to Redfish. Also, this doesn't seem like a WebUI issue and may be better discussed in https://github.com/openbmc/bmcweb possibly. @gtmills can you verify that for me?

[2020-02-26 13:23] gsivaprabu commented on #1
Thanks @derick-montague

[2020-02-27 20:46] derick-montague commented on #1
Thank you for your feedback @gsivaprabu. Unless there is an objection, I am going to close this issue.

[2020-02-28 01:36] #1 closed

[2020-03-04 20:14] derick-montague opened #2 "New color palette based on Bootstrap framework theming best practices"
The color palette in the AngularJS application was complexed and didn't leverage the Bootstrap best practices. In the Vue rewrite, we are leveraging the Sass color maps in Bootstrap to make theming easier.

## Color Palette
![image](https://user-images.githubusercontent.com/1183515/75919627-8109f080-5e23-11ea-9f6f-036a47b9399c.png)

![image](https://user-images.githubusercontent.com/1183515/759203

[2020-03-11 14:23] derick-montague opened #3 "Date and Time Settings"
## Use Case
As a BMC Administrator I need to be able to update time that may have drifted on a system that does not use an NTP server to sync the clock with other systems over the internet without having to shutdown the host and disrupt service.

## Invision Prototype Guidance
The Invision prototypes have hot spots allowing the reviewer to step through the workflow. To navigate a prototype, you ca

[2020-03-11 14:55] derick-montague commented on #3
## Current proposal
[Invision prototype](https://ibm.invisionapp.com/share/Q6NZ13M3A5B#/319420720_01-Date-And-Time-Settings-02)

### Screen shots
![image](https://user-images.githubusercontent.com/1183515/76430205-0b9ba400-637e-11ea-96d4-9b19ac19ba14.png)

![image](https://user-images.githubusercontent.com/1183515/76430246-18b89300-637e-11ea-971f-83a0b4b944b1.png)

![image](https://user-images.git

[2020-03-11 15:50] #2 closed

[2020-03-11 16:40] derick-montague commented on #3
x86 systems do not offer a manual date and time setting. The date and time can either be sync'd with an NTP server or it is set by the hosts Real-time clock (RTC). The goal of this design is to be able to have all options supported upstream with with the ability to toggle the functionality based on the build or some type of flag.

[2020-03-12 22:43] williamspatrick commented on #3
How do you plan on the time-zone being utilized within the BMC?  I think we currently expect the BMC to internally use the UTC timezone only for all logging, etc.  Is this something that is only applicable to users through the WebUI (are we going to translate all timestamps for them?)?

[2020-03-12 22:46] williamspatrick commented on #3
I don't think this is an architectural requirement, but simply how most x86 systems have currently implemented things from a hardware perspective.  The IPMI method that Power is using to get the time up to the host firmware could also be implemented on x86, but just isn't in most implementations.

It is still useful to be able to set the time on the BMC though, so that logs "make sense".  That tim

[2020-03-13 03:01] derick-montague commented on #3
The timezone is only a convenience for users to avoid time conversion. Avoiding the need to figure out the offset  was a consistent comment in user testing. The BMC will only use that dropdown to do the conversion for the user and save as UTC time.

[2020-03-17 14:37] joseph-reynolds commented on #3
I didn't see anything on the interface that talks about correcting time drift.  I understand the operating system does that under the covers.

I understand the change here is to add the "manual" setting.  Will that change the platform clock immediately, or will it drift toward the new setting?

[2020-03-17 16:34] derick-montague commented on #3
I'm not sure that is true, but you would know better. Our users have stated that they have to update the clock because of the drift.

We already have a manual setting. This is reviewing an updated design of that interface with the community. During the research, it was determined that users would like to change the time without having to shutdown the server. It was discussed at length in slack and

[2020-03-24 19:31] derick-montague opened #4 "Sensors"
## Use Case
As a BMC user,
I need to be able to  use sensors
so that I can to quickly determine the health of my system.

## Design Review Workflow
1. Each design iteration will have a comment section
1. The section will include:
    - A title with the iteration number
    - Any description or specific feedback the designer is requesting
    - Screenshots of the workflow
1. Based on community and

[2020-03-24 19:31] derick-montague commented on #4
## Current Design
![image](https://user-images.githubusercontent.com/1183515/77468802-1cb3ce80-6ddc-11ea-972d-cd90c3d1bbb6.png)

[2020-03-24 19:45] derick-montague commented on #4
## Redesign Proposal Iteration 1
![image](https://user-images.githubusercontent.com/1183515/77469999-f68f2e00-6ddd-11ea-81b3-e37483bbc28c.png)

[2020-03-24 19:45] derick-montague commented on #4
## Redesign Proposal Iteration 2
![image](https://user-images.githubusercontent.com/1183515/77470084-1c1c3780-6dde-11ea-8670-0a60dd3c0005.png)

[2020-03-24 19:57] derick-montague commented on #4
## Redesign Proposal Iteration 3
- Zebra striped
![image](https://user-images.githubusercontent.com/1183515/77471137-c779bc00-6ddf-11ea-9554-660a28305474.png)

[2020-03-24 22:38] ryanarnell commented on #3
We have updated the prototype removing the timezone from the date and time settings page. The timezone was creating confusion here when users were trying to set the time to manual.

We placed it in profile settings page. This will be a global setting where users will choose how they want to view the time stamps throughout the app.

 For example, If they select to change the timezone to their local

[2020-03-25 19:35] derick-montague commented on #4
## Redesign Proposal Iteration 4 (Final)
Smaller icons, no zebra striping.

![image](https://user-images.githubusercontent.com/1183515/77578058-dfb40e80-6ea5-11ea-9ed1-4f2a34aab16d.png)

[2020-03-26 21:25] derick-montague opened #5 "Security Settings"
## Use Case
As an admin, when adding or removing a machine in my lab, I need to be able to enable or disable certain protocols for security purposes. This cannot be done via CLI or HMC.

## Invision Prototype Guidance
The Invision prototypes have hot spots allowing the reviewer to step through the workflow. To navigate a prototype, you can:

1. Click on the page and the hotspots will be revealed i

[2020-03-26 21:49] ryanarnell commented on #5
## Security Settings - Iteration 0
The low fi design we stated with to understand our use case and user needs

![04-Security-settings-00@2x ](https://user-images.githubusercontent.com/4976631/77699953-4fe39280-6f81-11ea-88ff-8eef566bc564.png)

[2020-03-30 19:00] derick-montague opened #6 "# Server Control - IP KVM"
## Overview
Recreate page in Vue.js.

## AngularJS Reference
### Directive
- https://github.com/openbmc/phosphor-webui/blob/master/app/server-control/directives/kvm-console.js
- https://github.com/openbmc/phosphor-webui/blob/master/app/server-control/directives/kvm-console.html

### Controller(s)
- https://github.com/openbmc/phosphor-webui/blob/master/app/server-control/controllers/kvm-window-cont

[2020-03-30 19:01] derick-montague opened #7 "Server Control - Virtual Media"
## Overview
Recreate page in Vue.js

## AngularJS Reference

### Controllers
- https://github.com/openbmc/phosphor-webui/blob/master/app/server-control/controllers/virtual-media-controller.js

## Tasks
- [ ] Add route and all route meta data
- [ ] Create page using page components
- [ ] Determine if new components or layout required and verify with design
- [ ] Include language translation

[2020-04-01 20:51] ryanarnell commented on #3
## Date and Time - Iteration 4

We have made few minor changes in this iteration.
- We redesigned the current date and time section rearranging the timezone portion and added a link to profile settings page to make it more user friendly.
- We changed the timezone dropdown to be radio selections as there are only two options. We are also trying to eliminate users expectation of seeing all the timez

[2020-04-01 21:04] ryanarnell commented on #5
## Security Settings - Iteration 1
We found out a little more information on what each sections would be and added those. Also we explored the single column option.

![04-Security-settings-01@2x](https://user-images.githubusercontent.com/4976631/78186315-2966a100-7432-11ea-927c-88a9b6489271.png)

[2020-04-01 21:11] ryanarnell commented on #5
## Security Settings - Iteration 2
We added the info icons to put the definition information in there and kept the description area for how that particular setting will behave.
We also explored a radio button option but we quickly noticed that is not feasible for changing multiple items in such a form.

![01-Security-settings-02@2x](https://user-images.githubusercontent.com/4976631/78186930-2c15c6

[2020-04-02 22:13] ryanarnell opened #8 "Hardware Status"
## Use Case
As a BMC user I need to be able to know the information and  status of various hardware in the system so that I can troubleshoot easily if there is an issue.

## Invision Prototype Guidance
The Invision prototypes have hot spots allowing the reviewer to step through the workflow. To navigate a prototype, you can:

1. Click on the page and the hotspots will be revealed in blue
1. Use th

[2020-04-02 22:22] ryanarnell commented on #8
## Hardware status- Iteration 0

We are trying to understand more why users will go to this page. For this reason, we created these two low fi prototypes to test.

[View the Invision prototype](https://ibm.invisionapp.com/share/Q6NZ13M3A5B#/319489588_01-Hardware-Status-00)

![01-hardware-status-00@2x](https://user-images.githubusercontent.com/4976631/78305325-3ce33c00-7506-11ea-9687-b16f42780f37.p

[2020-04-02 22:27] ryanarnell commented on #5
## Security Settings - Iteration 3

We updated the workflow so that the warning message is a modal and more noticeable. Also we are working on the definition of each items so that they are understood easily.

[View the Invision prototype](https://ibm.invisionapp.com/share/Q6NZ13M3A5B#/319489310_01-Security-Settings-03)

![01-Security-settings-03@2x](https://user-images.githubusercontent.com/497663

[2020-05-12 17:06] lukkep commented on #8
Hey,
Small thing to Design Proposal A, when dropdown is unfolded.
Can I suggest making a light background effect like in the image attached? :)

Also the headers could be darker then.

![A_edited](https://user-images.githubusercontent.com/25308566/81723688-86b72e80-9483-11ea-8fcc-27316e412303.png)

[2020-05-19 23:12] yoshiemuranaka opened #9 "Firmware - two file upload"
## Overview
Ability for users to upload separate Host and BMC image. This functionality is currently available in Angular, but is not being worked on as part of the Vue re-write. Single image upload will be supported in Vue.

## Angular reference

- https://github.com/openbmc/phosphor-webui/blob/master/app/configuration/controllers/firmware-controller.js
- https://github.com/openbmc/phosphor-webui

[2020-05-20 22:28] ryanarnell commented on #8
Thank you @lukkep  for your feedback. Yes we are working on the layout especially for the color of the detail segment and header as you mentioned. I will pass your suggestion to the team.

[2020-05-20 22:41] ryanarnell commented on #8
## Hardware status- Iteration MVP
We wanted to reach parity with our existing OpenBMC GUI and include some update along the way.

1. Separated the hardware component sections.
2. Added sorting to the sections columns.
3. Introduced searching and filtering for long tables like DIMMs.
4. Added health status information.
5. Exposed important information like part number and serial numbers in table he

[2020-07-06 08:37] erasad22 commented on #7
Mock created for Control -> Virtual Media.

![image](https://user-images.githubusercontent.com/15446786/86573373-da199a80-bf63-11ea-9cd8-fad31e56ebdd.png)

[2020-07-08 12:35] derick-montague commented on #7
Thank you, @erasad22 for working on this. I have added this to the GUI Design Workgroup conversation for today.

[2020-07-08 16:02] lukkep commented on #6
We can help with that one. :)

[2020-07-08 20:41] derick-montague commented on #6
I was able to assign it to @lukkep but still not Mateusz. :)

[2020-07-09 05:54] matijas-1987 commented on #6
It's interesting

[2020-07-09 16:58] derick-montague commented on #7
@matijas-1885 - you want to work on this one also?

[2020-07-09 16:59] derick-montague commented on #6
@matijas-1987 do you want to be assigned to #7 also?

[2020-07-09 16:59] derick-montague commented on #7
@matijas-1987

[2020-07-09 19:47] derick-montague opened #10 "Document in Vuepress how to add a custom logo"
## Overview
Document in the theme section of the Vuepress documentation the:

1. Image naming conventions
1. Expected image type
1. Guidance about the Meta Data layer used to store the custom image
1. Adding an org specific .env file and the values required to support logos

[2020-07-09 19:49] derick-montague commented on #10
Waiting for actual logo work to be completed in the Gerrit review prior to adding documentation.

https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/34094

[2020-07-14 06:10] matijas-1987 commented on #7
@derick-montague this issue will be made by Asad but you can assign to me.

[2020-07-16 09:46] Pavan-0 commented on #6
Hi,

I came to know that phosphor-webui will be replaced by webui-vue.
We are using Openbmc version 2.7 and Windows OS for the Host.
I have two Queries regarding IP KVM.
1. Is there any way I can send CTRL+ALT+DEL command to the host from the KVM?
          Probably a menu button((Attached pic) on the KVM to send the command
2. Is developing keyboard mapping (attached pic Keyboard_mapping) for the

[2020-07-16 11:57] matijas-1987 opened #11 "Health icon shows ok while loading"
**Describe the bug**
While web UI is loading it is showing controls as "OK" state instead of undetermined which might be confusing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to home page
2. See header. While loading health is green, after loading is red.

**Expected behavior**
If page is loading the health icon should be undetermined.

**Screenshots**

while loading
![GetImageAttach

[2020-07-16 12:52] derick-montague commented on #11
Thank you @matijas-1987!

[2020-07-17 06:39] matijas-1987 commented on #6
Hi Pavan,

1. Yes, there will be a button to send CTRL+ALT+DEL
2. Can you explain keyboard mapping more? What is the difference between Map 1:1 and Auto?
I use the noVNC library, documentation- https://github.com/novnc/noVNC/blob/master/docs/API.md
If this option is available I could implement it, therefore, I need some examples to better understanding.

Regards,
Mateusz

[2020-07-17 10:59] matijas-1987 opened #12 "No span/margin between table and buttons"
**Describe the bug**
Access Control - Local User management
No span/margin between table and buttons

![no-margin](https://user-images.githubusercontent.com/66257423/87779574-47171500-c82d-11ea-9b47-98e836a71f3b.png)

[2020-07-17 11:01] matijas-1987 opened #13 "Naming convention in menu"
**Describe the bug**
we should be consistent with naming options. Some options starts all words with uppercase some not.

![menu](https://user-images.githubusercontent.com/66257423/87779715-8c3b4700-c82d-11ea-843c-5e1311dd881b.png)

[2020-07-17 11:04] matijas-1987 opened #14 "Weird underscore"
**Describe the bug**
Network settings - "System" option have weird underscore.

![underscore](https://user-images.githubusercontent.com/66257423/87779967-023fae00-c82e-11ea-9609-69563c5a27a8.png)

[2020-07-17 11:08] matijas-1987 opened #15 "Loading should disable page"
**Describe the bug**
When switching tabs/pages loading bar should disable page for user to not be able to change options.
Otherwise if user will type in something - option is reset or validation is not done properly.

![loading](https://user-images.githubusercontent.com/66257423/87780182-7e39f600-c82e-11ea-81b1-ae2d09ccba40.gif)

[2020-07-17 11:11] matijas-1987 opened #16 "Event logs table - option not determine should have text"
**Describe the bug**
Event logs table - it would be nice to have consistent cells, if option is not deremine there is no text.

![not-determine](https://user-images.githubusercontent.com/66257423/87780446-09b38700-c82f-11ea-9efd-c6640e40e4a3.png)

[2020-07-17 11:12] matijas-1987 opened #17 "Sensors - not needed scroll is displayed"
**Describe the bug**
Sensors - not needed scroll is displayed (you can barely use it).

![sensors](https://user-images.githubusercontent.com/66257423/87780532-34054480-c82f-11ea-8085-a21f653bb4f6.png)

[2020-07-17 11:15] matijas-1987 opened #18 "Server LED - there is probably too much text about same thing."
**Describe the bug**
Server LED - there is probably too much text about same thing.

**Expected result**
I think we should remove "Led light control" text

![server-led](https://user-images.githubusercontent.com/66257423/87780623-644ce300-c82f-11ea-8740-c76c54bde512.png)

[2020-07-17 11:26] matijas-1987 opened #19 "Search box is overlapping on sensors page"
**Describe the bug**
Grids with search option - when you select rows search box is overlapping.

![sensors2](https://user-images.githubusercontent.com/66257423/87781502-0faa6780-c831-11ea-8786-a0495929d31f.png)

[2020-07-17 11:48] matijas-1987 opened #20 "File input should have english language text"
**Describe the bug**
Access Control->SSL Certificates -> Add new certificate
Wrong language text in file input. Probably language is from browser.

**Expected behavior**
English language in file input

![file-input](https://user-images.githubusercontent.com/66257423/87782966-d32c3b00-c833-11ea-8f1c-d6b758fe9cf7.png)

[2020-07-21 22:02] derick-montague commented on #6
The screen looks really good. I am going to merge https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/34759.

I added this to the GUI Design Workgroup on Wednesday to review. There are some differences with the layouts between KVM and SoL. I think we should discuss these and determine how to make the experience more consistent. I have added a screen show below with the main differences betwee

[2020-07-22 06:51] matijas-1987 commented on #6
I have added screens with KVM content (current height and SOL height)

**Current height**
<img width="731" alt="kvm-full" src="https://user-images.githubusercontent.com/66257423/88143784-1f8ec680-cbf8-11ea-8c63-7bbbc0185a47.png">

**SoL height**
<img width="734" alt="kvm-small-height" src="https://user-images.githubusercontent.com/66257423/88143794-23224d80-cbf8-11ea-98de-b8f6083d0396.png">

[2020-07-22 07:15] lukkep commented on #20
Language use on button should match language in browser.
This might be tricky as it looks that buttons in file upload control use standard, system button.

@matijas-1987 you will need probably to make new control using same styles as "Cancel"/"Add" buttons. :)

[2020-07-22 07:17] lukkep commented on #11
@derick-montague we have found few UI bugs that @matijas-1987 reported. Could you please assign them to @matijas-1987 ? :)
He will tackle those like a pro. ;) If you have any concerns - we can discuss those within today's meeting.

[2020-07-22 09:16] matijas-1987 commented on #7
**Mock-up:**

![vm](https://user-images.githubusercontent.com/66257423/88158696-a51c7180-cc0c-11ea-989f-8623a6b60c75.jpg)

[2020-07-22 09:34] lukkep commented on #6
Hello,
Some suggestions regarding SoL/KVM comparison:

1. Naming should be standardized.
    Left side menu contains names: **KVM** / **Serial over LAN console**
    I suggest changing names to **KVM console** / **SOL console**
(referring to [Wikipedia entry ](https://en.wikipedia.org/wiki/Serial_over_LAN) SOL should be all capital letters.

2. Below you can find my graphical mock with UI proposal

[2020-07-22 12:50] derick-montague commented on #11
Completed in https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/34879

[2020-07-22 12:50] #11 closed

[2020-07-22 12:50] #6 closed

[2020-07-22 12:55] derick-montague commented on #18
@nicoleconser @yoshiemuranaka @gtmills - We. have had some conversation about this. Do we want to revisit?

[2020-07-22 12:57] derick-montague commented on #17
This is an issue that is part of the responsive class and out of the box Bootstrap. I definitely agree. We need to look into the breakpoints that the responsive property is being set.

[2020-07-22 12:59] derick-montague commented on #16
There seems to be some issues here. This seems like a custom build as the icons are not the same and the colors are off. Can you share more about this state? @matijas-1987

[2020-07-22 13:01] derick-montague commented on #15
@yoshiemuranaka @gtmills @ParishrutB @ben-bacon  - This is another reason the angular design had the loading spinner. Can I get your feedback, please?

[2020-07-22 13:02] derick-montague commented on #14
Is the only place you are seeing this? Can. you share some of this info?

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

[2020-07-22 13:03] derick-montague commented on #13
Convention is lower case for second word unless it's something like `LED`

[2020-07-22 13:05] derick-montague commented on #12
@yoshiemuranaka @matijas-1987 @ben-bacon - This has been discussed a few times. This is as designed, but I think we can open up that discussion to look into any issues being experienced with the layout.

[2020-07-22 13:06] lukkep commented on #14
Hmm... Currently I cannot reproduce this issue.
Let's close it.  😃

It was:
- Windows 10,
- Edge.

[2020-07-22 13:25] matijas-1987 commented on #16
Part of json, I see that severity is empty:
   {
      "@odata.id": "/redfish/v1/Systems/system/LogServices/EventLog/Entries/1595341436",
      "@odata.type": "#LogEntry.v1_4_0.LogEntry",
      "Created": "2020-07-21T14:23:56+00:00",
      "EntryType": "Event",
      "Id": "1595341436",
      "Message": "Power Unit Redundancy regained.",
      "MessageArgs": [],
      "MessageId": "OpenBMC.0.1.Pow

[2020-07-22 13:26] Pavan-0 commented on #6
Hi,

When we do a fresh install of OS, this is extremely hard because num lock
doesn’t work and numbers are very difficult to find.

When we need to set up a password, this is extremely complicated because
you don’t know where . or | or ! are. These kinds of characters are
necessary when you set a password. Hence we need to have keyboard mapping.

Auto : will automatically transfer the key sent to

[2020-07-22 13:52] ben-bacon commented on #15
My initial thought it to load a skeleton state for the fields. But if we are not doing that currently in the product elsewhere, then maybe we shouldn't put it in just for this page. Hiding the field titles or disabling the fields until the product fully loads sounds like another option?

[2020-07-22 14:40] dixsie commented on #17
I believe this may have been addressed in one of @SurenNeware commits in Gerrit

[2020-07-22 20:09] derick-montague commented on #15
This is something that we wanted and thought about doing that I think that is a viable option. Since we have the progress bar, it shouldn't be a stretch for the user to know that something is happening and why they can't interact with the page.

However, I do think that with pages like Hardware Inventory and Sensors, information is loaded as received from different API calls. That is not a great e

[2020-07-22 20:13] derick-montague commented on #16
Now I understand! This seems like a bug with the `status-icon` component. FYI @yoshiemuranaka

[2020-07-22 20:14] derick-montague commented on #14
Can't reproduce

[2020-07-22 20:14] #14 closed

[2020-07-22 22:11] derick-montague opened #24 "KVM Layout updates"
**Is your feature request related to a problem? Please describe.**
Layout consistency between KVM and SOL were discussed in the GUI Design Workgroup on 7/22/20. The following changes were agreed upon during the session.

**Describe the solution you'd like**

- [ ] Update the section description to include what the KVM acronym stands for, Keyboard, Video (monitor), Mouse
- [ ] Add helper text
- [ ]

[2020-07-22 22:24] derick-montague opened #25 "Serial Over LAN layout"
**Is your feature request related to a problem? Please describe.**
Layout consistency between KVM and SOL were discussed in the GUI Design Workgroup on 7/22/20. The following changes were agreed upon during the session.

**Describe the solution you'd like**

- [ ] Update the page title to `SOL console`
- [ ] Update the section description to include what the SOL acronym stands for, `Serial Over LA

[2020-07-23 07:42] matijas-1987 commented on #13
@derick-montague , please assign to me

[2020-07-23 09:03] matijas-1987 commented on #20
Unfortunately, the change of text in default file input is impossible. So, I decided to use another version of bootstrap control which override standard file input.

![image](https://user-images.githubusercontent.com/66257423/88268629-09096d80-ccd3-11ea-9cab-2de331865b44.png)

[2020-07-23 09:19] frsauvage opened #26 "Plan for Firmware web page(s) ?"
Hi,
Do you have any date about firmware web page(s) ?
Is it a priority ? Could we expect it far before June 30 2021 at least ?

I apologize if these questions were already answered somewhere ?

Best regards,
Francine

[2020-07-23 10:06] matijas-1987 commented on #19
@derick-montague , please assign to me

[2020-07-23 11:58] matijas-1987 commented on #16
@derick-montague , @yoshiemuranaka, please let me know if severity is empty I shouldn't show icon or  show default status (e.g Not  determined)

[2020-07-23 12:23] ParishrutB commented on #15
Disabling the fields is a pattern which I found in firmware update:
Old prototype: https://ibm.invisionapp.com/d/main#/console/15348054/319289244/preview
New prototype: https://ibm.invisionapp.com/d/main#/console/15364725/319627540/preview
But this seems to work in scenarios where a page is already loaded, and a process is going on.

Skeleton states are used (in my observation) for when a page is

[2020-07-23 12:29] ParishrutB commented on #15
References from Carbon:
1. Skeleton states: mostly for loading pages.
2. Spinners/progress bars: mostly for ongoing processes. Depending on scenario, use a different type of spinner or progress bar.
3. Disabled states: Carbon didn't say anything about using them for loading states. Perhaps we are misusing them in case of firmware as well.

Seems like me might need to put more thought on these patt

[2020-07-23 14:03] lukkep commented on #15
I believe that progressing loading is OK for controls like grids, where user does not put content into.
When comes to load controls like text boxes which can be edited and have previous content - that's the issue I believe, because user might edit content that is not loaded yet and it will be replaced.

My opinion is that disabling controls until loaded sounds good enough. 🙄

[2020-07-23 14:11] derick-montague commented on #16
@matijas-1987 What does it mean if there isn't a value for the severity property? Is this a common use case?

I would suggest no value and no icon if so. @yoshiemuranaka?

[2020-07-23 14:17] derick-montague commented on #26
Thank you for your question, @frsauvage! It was planned for end of June 2020 and was pushed to the end of July 2020. The single firmware image design is being developed, both front-end and backend concurrently. If the two file upload (separate update for host and BMC), we have a design we can share, but it is a help wanted item #9.

[2020-07-23 19:38] #19 closed

[2020-07-23 23:01] yoshiemuranaka commented on #15
I agree, I think disabling any form fields that are visible on initial page load would be sufficient. Currently that would be on
- Network settings
- Date and time
- LDAP
- Manage power usage

Suren is also working on a story this sprint that will add a default empty table state (currently only implemented on event logs) to all other tables, which would be an improved experience for hardware statu

[2020-07-23 23:03] yoshiemuranaka commented on #16
Yes, let's move forward with hiding the status icon if there is no value defined from backend

[2020-07-24 06:14] matijas-1987 commented on #16
@derick-montague, assign to me :)

[2020-07-24 14:27] #13 closed

[2020-07-27 12:53] matijas-1987 commented on #15
@derick-montague @yoshiemuranaka  I have prepared commit with disabling any form fields.
https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/35095

[2020-07-27 19:02] #20 closed

[2020-07-28 13:10] frsauvage commented on #26
Thank a lot @derick-montague, so excited about it !
Best regards,
Francine

[2020-07-29 19:02] nicoleconser opened #27 "Deconfigured Hardware"
## Use Case
As a customer Support team member, I need to be able to view a server's deconfigured resources, understand why and when they were deconfigured, get the information I need to replace a faulty part, and then re-configure that resource.

## Invision Prototype Guidance
The Invision prototypes have hot spots allowing the reviewer to step through the workflow. To navigate a prototype, you ca

[2020-07-29 19:03] nicoleconser commented on #27
**View Deconfiguration Records + associated error logs:**

[Deconfiguration Records.pdf](https://github.com/openbmc/webui-vue/files/4996900/Deconfiguration.Records.pdf)

[2020-07-29 19:06] nicoleconser commented on #27
**View configuration status of all deconfigurable hardware components (Version 1):**

![01](https://user-images.githubusercontent.com/15746733/88842161-a87fa200-d1a4-11ea-975d-1892091872e9.png)
![02](https://user-images.githubusercontent.com/15746733/88842171-aae1fc00-d1a4-11ea-934b-a8ce03c5f224.png)
![03](https://user-images.githubusercontent.com/15746733/88842173-ab7a9280-d1a4-11ea-84ee-9c6c16ed

[2020-07-29 19:08] nicoleconser commented on #27
**View configuration status of all deconfigurable hardware components > Drilling deeper into Processor cores (Version 1):**

![01](https://user-images.githubusercontent.com/15746733/88842297-e381d580-d1a4-11ea-883b-ba4a273ee67d.png)
![02](https://user-images.githubusercontent.com/15746733/88842302-e67cc600-d1a4-11ea-948e-10659649d736.png)
![03](https://user-images.githubusercontent.com/15746733/88

[2020-07-29 19:13] nicoleconser commented on #27
@derick-montague I'm unable to move this story out of the **New Issues** column

[2020-07-30 05:43] #16 closed

[2020-07-30 05:44] #15 closed

[2020-08-03 21:13] #3 closed

[2020-08-03 21:13] #4 closed

[2020-08-04 11:21] lukkep commented on #18
In my opinion this is worth discussing. 👍

[2020-08-04 11:59] lukkep commented on #12
Thanks for comment @derick-montague. For me, it would be OK if button next to it ("Account policy settings") would have similar styling. Now it looks a little bit odd IMHO. 😉

[2020-08-04 12:38] gtmills commented on #18
Yeah I think we should revisit

[2020-08-04 12:55] derick-montague commented on #18
Added to agenda for next GUI Design workgroup

[2020-08-04 12:57] derick-montague commented on #12
Will add this to the next GUI Design Work group.

[2020-08-04 14:05] yoshiemuranaka commented on #12
For reference, although we're not using the Carbon design system, we've followed a similar pattern for some of table layout patterns.
https://www.carbondesignsystem.com/components/data-table/usage/#formatting

The flushed buttons was an intentional design choice

[2020-08-05 07:14] chineweff commented on #7
I got errors when using virtual media.
![a](https://user-images.githubusercontent.com/22802902/89382800-f872e180-d72d-11ea-9c28-8e91cb652821.png)

This error messages were from
https://github.com/openbmc/phosphor-webui/blob/master/app/server-control/controllers/virtual-media-controller.js

Does anyone have any ideas?

[2020-08-05 15:18] #8 closed

[2020-08-05 18:34] derick-montague commented on #7
It looks like you opened an issue in the correct repository already, https://github.com/openbmc/phosphor-webui/issues/116. This feature has not been developed in the new UI framework.

[2020-08-06 15:49] derick-montague commented on #25
IBM has added this story to one of our upcoming sprints.

[2020-08-11 14:15] derick-montague commented on #24
@matijas-1987 we are starting #25 this sprint to meet the consistency requirements we agreed to.

[2020-08-13 09:38] frsauvage commented on #26
Hi, it's end of July and I can't find Update VueJS View, no? did I miss something ?
Any news ?
Best regards
Francine

[2020-08-19 19:05] gtmills commented on #26
Hi @frsauvage,

Single file code update merged here: https://github.com/openbmc/webui-vue/commit/92a0a4ac1f25271c1861d7c97a0d8344dd578905

There is still work needed to do 2 file code update (a separate BMC and System code update): https://github.com/openbmc/webui-vue/issues/9

IBM has moved 2 of their systems over to using webui-vue
https://gerrit.openbmc-project.xyz/c/openbmc/meta-ibm/+/35445

[2020-08-19 19:06] gtmills opened #28 ""next" url forward"
We had this in phoshpor-webui would be great to get added to webui-vue.

[2020-08-19 19:08] gtmills opened #29 "CSRF allow list"
We had this security feature in phosphor-webui

[2020-08-19 19:09] gtmills opened #30 "Mutual TLS"
Support for the IsAuthorized and Mutual TLS that part of phosphor-webui

[2020-08-25 15:44] derick-montague opened #31 "FormFile Component design update"
## Is your feature request related to a problem? Please describe.
No

## Describe the solution you'd like
The [FormFile Component](https://bootstrap-vue.org/docs/components/form-file) styled variant (not simple mode) is currently being used in the code without any style overrides. Revisit the UI styling to match our style guide.

### Current Bootstrap Out of Box Experience
![image](https://user-im

[2020-08-25 21:17] edtanous opened #32 "Loading webui-vue from the BMC causes content-security-policy errors"
**Describe the bug**

When launched from the bmc, webui-vue causes 16 content-security-policy errors. In comparison, phosphor-webui very explicitly causes zero.  This shows a lack of security posture, and is likely a deterrent to those wanting to make the switch, given that security tends to be very important, and some implementations may have enabled CSP reporting, so opening webui-vue would caus

[2020-08-28 19:10] derick-montague commented on #32
Thanks, @edtanous - This was discovered and I have been planning to resolve this for past few weeks.

[2020-08-28 19:13] derick-montague commented on #25
Review: https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/35774

[2020-08-28 20:00] derick-montague commented on #7
Gerrit review: https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/35396

[2020-08-28 20:01] #7 closed

[2020-09-02 08:27] matijas-1987 commented on #24
@derick-montague , please assign to me this task

[2020-09-02 10:33] matijas-1987 commented on #12
We can close this issue. It's ok for us. @yoshiemuranaka, thank you for your explanation.

[2020-09-03 21:40] derick-montague commented on #12
Thank you, @matijas-1987

[2020-09-03 21:40] #12 closed

[2020-09-03 21:44] derick-montague commented on #24
We may want to discuss the challenges of a square window from a responsive perspective. It will be challenging to do this without adding scroll bars to either the browser viewport or the the window itself. We are working through this on #25.

[2020-09-04 02:24] derick-montague commented on #31
This is being worked on by @SurenNeware

[2020-09-04 12:36] matijas-1987 commented on #24
I have prepared KVM version which is responsive and without adding scroll bars. However it isn't a square. Maybe the square is not a good idea. Below I have added 3 screens of KVM in 3 resolutions (my notebook, monitor and phone).
I have removed helper text and description, only title exists because in small resolutions the KVM window was too small.
What do you think about it?

<img width="957" al

[2020-09-04 13:18] matijas-1987 commented on #28
@derick-montague @gtmills , can you explain this issue? I'm not sure what you mean.

[2020-09-08 16:28] derick-montague commented on #28
For example, if the user is logged out to to a session time out or maybe they try to access a page directly prior to logging in, the URL will have an appended query string with the page to forward the user to once they login and are authenticated. However, there is some push for having a login page in BMCWeb, so it would seem that functionality would be handled there?

Does that seem right, @gtmil

[2020-09-08 16:29] derick-montague commented on #24
These look great @matijas-1987! @Srisuk - This is the direction we can go to avoid the square issue.

[2020-09-08 16:31] derick-montague commented on #25
@matijas-1987 has shared some formatting on KVM and I think that is the direction we will want to go. Thank you!

https://github.com/openbmc/webui-vue/issues/24#issuecomment-687116391

[2020-09-09 07:36] matijas-1987 commented on #28
Ok, I understand, please @derick-montague assign to me :)

[2020-09-09 14:26] derick-montague commented on #28
I am not sure we will need it here. I just added you to this Gerrit review for moving the login page to BMC Web: https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/35457

[2020-09-10 07:37] matijas-1987 commented on #28
I am not sure if I understand well. However if we set BMCWEB_INSECURE_UNAUTHENTICATED_JAVASCRIPT=ON and BMCWEB_ENABLE_LOGIN_PAGE=OFF, our app (web-ui) should support login page.

[2020-09-10 14:27] derick-montague commented on #24
@matijas-1987 - we would need to try and keep the action buttons aligned with the terminal window.

[2020-09-10 21:09] derick-montague commented on #25
@Srisuk - This looks really good. I found one small issue when testing it at different viewport sizes. If we remove or override this declaration, it will fix this one small issue.

[code]

![image](https://user-images.githubusercontent.com/1183515/92806717-de0cd300-f37f-11ea-87e6-89e870b9c80d.png)

[2020-09-14 11:39] matijas-1987 commented on #24
@derick-montague , of course. I'm working on it.

[2020-09-17 18:43] gtmills opened #33 "SNMP page"
We had an SNMP panel on phosphor-webui.
Need the SNMP Redfish API first.
SNMP was added to Redfish in 2019.4 just need to implement it in bmcweb.

[2020-09-17 18:44] gtmills opened #34 "Remote logging"
Had remote logging in phosphor-webui.
Need a remote logging Redfish API first though.

[2020-09-17 18:48] gtmills opened #35 "Move TPMEnable to Redfish"
TPMEnable is the only xyz/openbmc_project/ interface I see being called in webui-vue.
https://github.com/openbmc/webui-vue/blob/5c977976d9450b50faeb33ba5bd1b5deaabcc3b5/src/store/modules/Control/BootSettingsStore.js#L76

TPMEnable is being upstreamed to Redfish now, should be in Redfish's 2020.4 release.

[2020-09-17 20:08] yoshiemuranaka opened #36 "DHCP - Network settings"
Angular app had a DHCP setting on the Network settings page. Will need to add this to webui-vue

[2020-09-18 06:02] #17 closed

[2020-09-21 05:29] matijas-1987 commented on #36
@derick-montague, please assign to me

[2020-09-21 12:38] derick-montague commented on #36
Thank you, @matijas-1987!

[2020-09-21 12:41] derick-montague commented on #32
I have been looking into this and doing some Vue research. It is expected that using Vue's runtime-only build should make the application CSP compliant. I will be looking a little more into this this week.

[2020-09-21 12:42] derick-montague commented on #29
I am not sure what is needed on the client-side for this.

[2020-09-21 12:45] geissonator opened #37 "poky: subtree update failing to build webui-vue recipe"
I brought in an upstream poky update over the weekend and we're hitting a compile failure with vue.

https://gerrit.openbmc-project.xyz/c/openbmc/openbmc/+/36615/ is the commit.

[code]

[2020-09-22 22:08] derick-montague commented on #37
I am going to to try and find some information on this, but I am not sure that is is related to Vue. This came after updating some recipe updates. This is not something that I have experienced before. If I can't find a solution, I will reach out to the community on IRC. @gtmills would be helpful and I will let him know when he is available if we haven't found a solution.

[2020-09-24 11:19] mszopinx opened #38 "[Event logs] Fix "Export" button height on hover"
There is a difference on button height between "Delete" and "Export" on hover. Described at screenshots below:

![image](https://user-images.githubusercontent.com/71821114/94138258-1e804c80-fe68-11ea-8496-e123adf2eab5.png)

In comparsion to:

![image](https://user-images.githubusercontent.com/71821114/94138307-38219400-fe68-11ea-9a6d-e64beec27bb0.png)

[2020-09-24 11:57] mmagdzix commented on #36
@matijas-1987 Can I do this feature?

[2020-09-24 14:06] matijas-1987 commented on #36
@mmagdzix ok.  @derick-montague , can you reassign this issue?

[2020-09-24 15:42] derick-montague commented on #36
@dixsie is putting together the design info for you. All this needs is a radio button to determine if the settings will use DHCP or Static.

[2020-09-24 15:44] derick-montague commented on #36
@mmagdzix have you been added to an organization's CLA? https://github.com/openbmc/docs/blob/master/CONTRIBUTING.md#submitting-changes-via-gerrit-server-to-openbmc

[2020-09-24 23:15] gtmills commented on #37
This looks to be related to https://github.com/openbmc/openbmc/issues/3665

[2020-09-25 13:05] mmagdzix commented on #36
@derick-montague James has added me to CLA

[2020-09-25 18:56] BMC-Bruce opened #39 "Configuration shows up twice on the left side bar."
Configuration shows up twice on the left side bar.
Both the Gear and the Key are labeled Configuration.

Log in to the OpenBMC webui-view
Look at the left side bar and see the defect on of the last 2 items.

The gear should say Configuration as it does.
The key should not say Configuration but should say Access control

 - OS: Windows 10
 - Browser: Chrome
 - Version: 85.0.4183.121 (Official Build

[2020-09-28 04:29] yoshiemuranaka commented on #39
Thanks @BMC-Bruce, should be fixed with https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/36848

[2020-09-28 20:31] BMC-Bruce commented on #39
Thank you @yoshiemuranaka
https://github.com/openbmc/webui-vue/commit/4c7c5af894fdc5db46cda1a02e37777dfd0831e5
resolves the issue.

[2020-09-28 20:31] #39 closed

[2020-09-28 20:32] BMC-Bruce commented on #39
The left sidebar on the Web UI now properly displays the gear with Configuration and the key with Access control.

[2020-09-30 21:09] derick-montague commented on #37
Can we close this issue @gtmills?

[2020-10-01 13:36] gtmills commented on #37
No, still a problem

[2020-10-01 14:40] mszopinx commented on #28
@matijas-1987 is no longer working on this project. Can you assign this issue to me?

[2020-10-01 15:18] gtmills commented on #28
Done. thanks for taking this over!

[2020-10-01 17:26] derick-montague commented on #28
@mszopinx - You probably already know, but if not the Gerrit review is here. https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/36469

Let me know if I can answer any questions!

[2020-10-01 17:27] derick-montague commented on #37
I guess thought it was not an issue we could resolve in this repo.

[2020-10-02 17:48] dixsie commented on #36
@mmagdzix

## Overview
- [ ] Add ability to configure Network Settings to use `Static` or `DHCP` addresses

## UX Flow / Interaction Requirements
- [ ] Add radio buttons for `Static` and `DHCP`
- [ ] Add `DHCP` table to display `IPv4Addresses` addresses with DHCP `IPv4AddressOrigin`
- [ ] Then there are no DHCP addresses, table empty-text displays `$t('global.table.emptyMessage')`
- [ ] DHCP table

[2020-10-02 20:17] gtmills commented on #37
Rebased the bump: https://gerrit.openbmc-project.xyz/c/openbmc/openbmc/+/36615/ and for some reason passed on witherspoon-tacoma (webui-vue)
The commit on top, https://gerrit.openbmc-project.xyz/c/openbmc/openbmc/+/37032/  failed on witherspoon (phosphor-webui)

The fail was on builder2. Passes were on builder1, builder4, builder5

[2020-10-05 15:15] derick-montague commented on #37
Looks like the internal tracking story was closed?

[2020-10-05 15:34] gtmills commented on #37
I can still recreate locally with a long path;
I don't think this is truly fixed when though I see https://gerrit.openbmc-project.xyz/c/openbmc/openbmc/+/36615/ and https://gerrit.openbmc-project.xyz/c/openbmc/openbmc/+/37032/  passes now for these systems.
I think npm cache issue or npm cache now fixes. I vote we hold off on closing

[2020-10-06 01:03] gtmills commented on #37
Recreated today on builder2
https://jenkins.openbmc.org/job/ci-openbmc/764/ and https://jenkins.openbmc.org/job/ci-openbmc/765/

[2020-10-06 14:24] derick-montague commented on #35
@gtmills - is this ready to be worked on now.

[2020-10-06 14:56] gtmills commented on #35
No. Redfish 2020.4. Target Jan 2021.

[2020-10-07 19:21] derick-montague commented on #31
Gerrit review: https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/36207

[2020-10-08 17:32] derick-montague opened #40 "Documentation: Page blank when running docs locally"
**Describe the bug**
A recent change to has resulted in the a broken documentation build. The import of the `i18n` module into the BVToastMixin cannot be resolved. When navigating to `http://localhost:8080`, all that is displayed is a blank white page.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  From the command line, run `npm run docs:serve`
2. Open browser and go to `http://lo

[2020-10-08 21:27] pashapanther opened #41 "DBus performance profiling"
**Is your feature request related to a problem? Please describe.**
There have been DBus and IPMI performance-related discussions in the OpenBMC community, both of which can be helped by this feature:
IPMI-related issues started to appear as early as in 2017. One [issue (#2630)](https://github.com/openbmc/openbmc/issues/2630) describes a problem related to large numbers of sensors. Its [follow-up (

[2020-10-09 17:18] derick-montague commented on #40
Gerrit: https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/37284

[2020-10-12 20:27] #38 closed

[2020-10-12 20:27] #25 closed

[2020-10-12 20:27] #24 closed

[2020-10-13 13:29] gtmills opened #42 "Move away from /subscribe websocket"
https://github.com/openbmc/webui-vue/blob/6b0e3a71cb691d24e5153cd4d4ec10e174ae4398/src/store/plugins/WebSocketPlugin.js#L27

Could move to just normal polling or Redfish events

https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/29344 turns the default of REST D-Bus to OFF.
To make the webui-vue GUI work with this default setting would need this and #35

[2020-10-14 14:45] derick-montague commented on #42
I thought Redfish events was not going to be read for some time. Is there a time dependency on this story?

[2020-10-20 19:52] #40 closed

[2020-10-20 22:15] derick-montague commented on #32
Review: https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/34697

[2020-10-22 21:15] #32 closed

[2020-10-22 23:06] edtanous commented on #32
Just pulled down the latest and verified.  This does indeed seem solved.  Great work!

[2020-10-23 14:44] gtmills commented on #30
https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/36918 merged. Closing. Please commit here or reopen if this should not have been closed

[2020-10-23 14:44] #30 closed

[2020-10-23 15:38] edtanous opened #43 "webui-vue hardcodes redfish addresses"
**Describe the bug**
webui-vue hardcodes Redfish addresses, in such a way that is not compliant with the spec.

**To Reproduce**
Edit bmcweb to change the name of the chassis handler from bmcweb.  Attempt to load, and observe a 404 and error.

https://github.com/openbmc/webui-vue/blob/54c6bfc2d40def4db1bc3a13ab92ee71091b1e4f/src/store/modules/Health/ChassisStore.js#L41

Is one such place where a r

[2020-10-25 15:20] derick-montague commented on #26
We are also working on two-file to meet parity with the phosphor-webui GUI. Review in progress now. #9

[2020-10-25 15:44] derick-montague commented on #42
I would prefer to have a subscription model over client-side polling. If we want to move away from web sockets, we could consider using a library like [socket.io](https://socket.io), which will create the bi-directional functionality if web sockets are not supported.

### Socket.io

To my knowledge, we are not using bi-directional communication and we only need server-side pushes. If that is accur

[2020-10-25 16:04] derick-montague commented on #34
Blocked by need for update to Redfish.

[2020-10-25 16:05] derick-montague commented on #33
Blocked by BMCWeb implementation.

[2020-10-27 19:55] derick-montague commented on #41
This was discussed at the GUI Design Work Group on 10/16/20 - https://github.com/openbmc/openbmc/wiki/GUI-Design-work-group#dbus-performance-profiling

## Outcome

- Pasha and Sui will reach out to the community using the email group
- Pasha and Sui will be the primary developers
- IBM Design team will provide feedback, but does not have the bandwidth to own design for this tool

[2020-11-05 15:17] derick-montague opened #44 "Firmware update"

[2020-11-09 14:42] mmagdzix commented on #44
What are the requirements for this issue? Can you explain us what should be done here?

[2020-11-11 13:39] #9 closed

[2020-11-11 13:43] derick-montague commented on #44
@ParishrutB will be updating this story soon.

[2020-11-18 13:12] ParishrutB commented on #44
## Use Case
As a system admin,
I need to be able to update the firmware or run a backup copy
so that the system is performing as per expectations.

## Design Review Workflow
1. Each design iteration will have a comment section
1. The section will include:
    - A title with the iteration number
    - Any description or specific feedback the designer is requesting
    - Screenshots of the workflow

[2020-11-19 08:47] ParishrutB commented on #44
## Use Case
As a system admin, I need to be able to update the firmware or run a backup copy, so that the system is performing as per expectations.

## Design Review Workflow
1. Each design iteration will have a comment section
1. The section will include:
    - A title with the iteration number
    - Any description or specific feedback the designer is requesting
    - Screenshots of the workflow

[2020-11-19 08:51] ParishrutB commented on #44
### Firmware Update - Version 1 - Single file update

_________

In the single file update, BMC and Host files are uploaded together as a .tar file. Since they are linked in the system and will always be the same, we decided to show the versions for BMC and Host as one in the GUI.

**Main screen**

![001 FW Update - Lo-Fi concept@2x](https://user-images.githubusercontent.com/61419136/99538903-9d5e

[2020-11-19 09:00] ParishrutB commented on #44
### Upcoming updates

_____

Based on discussions in the workgroup, we are working on the following updates:
1. Different community members may support different upload locations. E.g. Intel does not support TFTP FW uploads.
2. Use case for powering off the host may not be the same for all community members.
3. In the single file version, what if the uploaded file contained only a BMC image? Will

[2020-11-19 10:56] ParishrutB commented on #44
### Questions

**Host Shutdown**
In this prototype, the host shutdown is required because:
1. The 'Immediate' property being used while uploading the file. This forces the new firmware to be applied as soon as the upload is completed, followed by a BMC reboot.
2. Concurrent firmware update (updating the host firmware without shutting down) is not possible.

**Question: In what case is the shutdown

[2020-11-19 13:09] williamspatrick commented on #44
* What is an "update access key"?  This sounds like you're charging your customers for the privilege of being able to update?  Is there an easy method to disable this feature?  I don't think it should be enabled by default in the opensource version.

* The language implies to me that the server is limited to 2 images: "current" and "backup".  This might be a limitation in your implementation but i

[2020-11-19 13:47] derick-montague commented on #44
Thanks for the feedback @williamspatrick!
A couple of clarifications.
1. We are not looking to extend beyond what phosphor-webui supported other than the single file image
1. There is a two-file image page that is the same as phosphor-webui

Agreed, this is proprietary and will need to be toggled in some way for the build

We are also moving to Redfish and I expect much of this conversation is als

[2020-11-19 14:07] williamspatrick commented on #44
By “single image model” you mean the tarfile, right?  This model might work for commercial vendors, but it won’t work for data center vendors (like FB); not that we really use the webui for deploying updates. We have different teams managing different sets of firmware and work directly with vendors to get them. The rate we receive and deploy updates for BMC vs BIOS vs VR is quite different.

[2020-11-19 14:44] derick-montague commented on #44
Even in two file upload where the BMC and Host FW were separate, we were still using tar files. In this case, single file means BMC and Host are both included in the update with one uploaded file. Opposed to having to upload two different files to update the host and BMC.

Is there a need from the UI for webui-vue that is different than what was supported on phosphor-webui? It sounds like any orgs

[2020-11-19 16:13] williamspatrick commented on #44
I'll be honest that I don't know exactly what modes were supported in phosphor-webui.

I'm not necessarily expecting you to implement support for any of these concerns if they aren't relevant to IBM, but hopefully the GUI is designed in a way to be extensible for someone else to come around and add it.  It would be unfortunate, to me, if adding support for updating Voltage Regulators would require

[2020-11-19 19:57] jmbills commented on #44
To clarify, Intel doesn't have a tar file with a combined BMC and Host firmware image included.  The "single image" upload that I was thinking is that we can upload **either** a BMC or Host or other firmware in the same box and the back-end service will detect what type of image it is and handle it appropriately.  We don't need two separate upload boxes, but the single upload box would be for any

[2020-11-19 21:14] derick-montague opened #45 "Factory Reset"

[2020-11-20 01:59] derick-montague commented on #44
Good to know that .tar can not be a file type requirement. If we had an idea of what all the possible file types were, we could add those types to improve the user's experience. I know that this conversation is happening in the community with @anoo1. @ParishrutB and/or @priyanka-pillai97 will verify the expectation, but I do think that you can provide either BMC or Host, but also able to upload th

[2020-11-20 22:25] williamspatrick commented on #44
Yes.  The dbus interface is designed in a way that it can support firmware update of arbitrary components.  We just need to implement the VR version of the internals.

I think you clipped jmbills' statement mid-sentence.  I don't think anyone has said that .tar isn't a reasonable file type for firmware update containers.  That is how they are currently defined internally to be is a tar-archive wit

[2020-11-24 11:37] priyanka-pillai97 commented on #45
### Use Case
As a BMC admin, I want to factory reset to get a clean system, so that for example, I can re-purpose my system.  
As a customer Support team member, I need to factory reset to fix a problem, so that the system to continue working as it was before.  

### Design Review Workflow
1. Each design iteration will have a comment section
2. The section will include:
    * A title with the iter

[2020-11-24 16:38] #31 closed

[2020-11-25 16:08] priyanka-pillai97 commented on #45
### Use Case
---
As an **admin**, I want to factory reset to get a clean system, so that for example, I can re-purpose my system.

 As a **customer Support team member**, I need to factory reset to fix a problem, so that the system can continue working as it was before.

As a **user**, I want to reset the Hypervisor settings to configure it to a non-HMC managed system.  

### Design Review Workflo

[2020-11-25 16:11] priyanka-pillai97 commented on #45
**Main screen - View Factory Reset options + associated affected settings for each.**

![FactoryReset-Main](https://user-images.githubusercontent.com/61419618/100102147-3173c500-2e89-11eb-8c1b-f244ae3bdf5d.jpg)

The **Affected Settings** of each option can be opened by expanding the drop-down to know more about each Factory Reset.
![FactoryReset-PowerON-Both expanded](https://user-images.githubuse

[2020-11-25 16:11] priyanka-pillai97 commented on #45
### Questions
---
1. There are two options to reset - **Reset All and Reset Hypervisor Settings.** For the second option, what does the community prefer – **Host / BIOS / Hypervisor / Firmware ?** Which is more generic + accurate?
2. Do you allow a factory reset even while the server is powered ON? Would you recommend against it knowing that it might cause a fatal error?

[2020-11-30 08:29] priyanka-pillai97 commented on #5
### Security Settings - Iteration 3
---
We updated the workflow so that the description of each setting is not hidden and is understood easily.
![Security Settings](https://user-images.githubusercontent.com/61419618/100585674-f1db2c00-3313-11eb-9727-65736df513c6.jpg)

[2020-12-01 00:36] amboar commented on #5
Hello, I have some feedback, mainly on the descriptions. As for the UI, it looks nice!

Can we just change this to "**SSH (BMC Shell Acccess)**? I think we should try to keep a consistent target of understanding. Someone who knows what Port 22 is doesn't need a "(BMC Shell)" explainer, and someone who needs the "(BMC Shell)" explainer might not grasp "Port 22". I feel this is solved by dropping "P

[2020-12-01 04:16] derick-montague commented on #27
This functionality is only important to IBM. I think it will be added to the IBM routing.

[2020-12-01 14:43] derick-montague commented on #36
@mmagdzix - Has there been any progress on this story? Do you need anything from the IBM design team?

[2020-12-01 17:00] derick-montague commented on #44
@jmbills

That is how it works today in phosphor-webui. The difference in the UI will be what we were calling the two file upload, which is misleading. It is a UI that shows the host and the BMC individually and doesn't have anything do do with how the files are uploaded. We will have a UI for that also we aren't there yet.

[2020-12-02 13:59] priyanka-pillai97 opened #46 "Client Sessions"
## Use Case
---
As a **BMC admin**, I will need to be able to see which **management consoles** and **users** are connected to my BMC and remove them if needed.

### Design Review Workflow
---
1. Each design iteration will have a comment section
2. The section will include:
    * A title with the iteration number
    * Any description or specific feedback the designer is requesting
    * Screensho

[2020-12-02 13:59] priyanka-pillai97 commented on #46
**Main screen - View connected management consoles + associated IP addresses.**
![Landing](https://user-images.githubusercontent.com/61419618/100880903-54c6f180-34d3-11eb-8aff-3edf44cd1242.jpg)
----
**Removing all connections from the system**
![SelectAll](https://user-images.githubusercontent.com/61419618/100880912-57294b80-34d3-11eb-89b2-5abd40284653.jpg)
![ConfirmationModal](https://user-images

[2020-12-02 14:00] priyanka-pillai97 commented on #46
### Questions
1. What is the maximum number of connections that you might see here?
2. To make a system non-HMC managed, we require a Hypervisor Reset. Is it the same for you? Are there any more steps required?

[2020-12-02 15:26] mmagdzix commented on #36
Hi @derick-montague,

Unfortunately our team have higher priorities on issues related to Intel specific version and we need to focus that tasks. When we will handle them we will gladly return to community issues. I'm sorry for all the inconveniences if you need please unassign it from me.

[2020-12-03 17:39] derick-montague commented on #36
Hi @mmagdzix - Thank you. If you haven't put any effort into this, I will remove you and move it back to ready. We may take it up in an upcoming sprint.

[2020-12-03 17:45] derick-montague commented on #29
[Conversation in discord](https://discord.com/channels/775381525260664832/776550056391606352/780834368498302976)

Derick Montague:

`@edtanous` was that your expectation when you brought this to our attention?

Ed Tanuous:

[2020-12-09 12:26] priyanka-pillai97 commented on #46
### **Updated the workflow to make the following changes:**
**_Remove connection_ action button changed to _Disconnect_**
![CommunityReview_Mainsccreen](https://user-images.githubusercontent.com/61419618/101624296-c2c56880-3a3f-11eb-8b92-e6225a1cfc64.jpg)

**Modals: Same modal will be shown for both management consoles as well as users when they’re being disconnected**
![CommunityReview_Modal](htt

[2020-12-09 12:29] priyanka-pillai97 commented on #46
### Questions for the community-
1. In the case of an HMC, once it is disconnected from here, it cannot reconnect on its own. **Is that the case for other management consoles as well?**

[2020-12-09 12:34] williamspatrick commented on #46
Probably not, but that depends on how the management console saves the credentials it uses to log in.  Password and certificate based authentication would allow the MC to continue to log in; token based authentication might not, because the password would need to be re-entered to get a new token.

[2020-12-09 13:18] ParishrutB commented on #46
Does this mean that BMC has no control over an MC's ability to reconnect?

[2020-12-09 14:03] williamspatrick commented on #46
How would it?

Again, it depends on how you are managing credentials to the MC. If it is just an application that a user enters their user/password into and it stores, unless that password becomes invalid the application can simply log back in.

My recollection of the old HMC implementation is that as part of the initial connection, the HMC and FSP exchange some sort of certificate/token which the

[2020-12-10 00:57] derick-montague commented on #36
@dixsie has asked to work on this story.

[2020-12-11 09:50] priyanka-pillai97 opened #47 "Power Restore Policy"
## Use Case
As a user I will want to configure **how the system reacts when the power is restored after a sudden power disturbance**.   

## Design Review Workflow
1. Each design iteration will have a comment section
1. The section will include:
    - A title with the iteration number
    - Any description or specific feedback the designer is requesting
    - Screenshots of the workflow
1. Based o

[2020-12-11 10:04] priyanka-pillai97 commented on #47
### Power Restore Policy Iteration 1

**View power restore policy options + current policy in place.**
![Power restore policy - 1](https://user-images.githubusercontent.com/61419618/101889134-101f1280-3bc5-11eb-851f-265716809fb9.jpg)

[2020-12-11 10:24] ParishrutB commented on #47
### Questions for the community:

1. Is the feature required for you? If yes, are the options provided by your company the same?
2. Is there anything on this page that you find confusing?

[2020-12-15 15:04] ParishrutB opened #48 "Power Management - Power Policies"
## Use Case
As an admin, I need to be able to select the right settings for power and performance,
so that I can make sure that the server is operating based on the requirements.

## Design Review Workflow
1. Each design iteration will have a comment section
1. The section will include:
    - A title with the iteration number
    - Any description or specific feedback the designer is requesting

[2020-12-15 16:06] ParishrutB commented on #48
### Question to community

**Feature:** Power and performance mode
These are the 4 modes that exist as of today. This screenshot is from ASMI.

**Questions:**
1. Is this feature useful for anyone here besides IBM?
2. _If you said yes to the above, then -_ do you find the names and/or descriptions useful? Feel free to suggest alternatives!

![image](https://user-images.githubusercontent.com/6141913

[2020-12-18 18:14] priyanka-pillai97 commented on #45
### Factory Reset Iteration 2

**Main screen - View Factory Reset options + associated affected settings for each.**
Changes made: Moved to radio buttons to show the information upfront.
![FactoryReset-Landing (1) (1) (4)](https://user-images.githubusercontent.com/61419618/102645930-404c4f80-4189-11eb-9ce7-67290d13d2b0.jpg)

----
**After choosing Reset all settings (BMC and Host firmware) option**

[2021-01-04 10:24] ParishrutB commented on #5
### Security Settings - Iteration 4.1

**Key update:** We have _reviewed and updated the copy_ based on @amboar's feedback.

![image](https://user-images.githubusercontent.com/61419136/103525267-efd13380-4ea4-11eb-84e0-bef8e8f5ecc0.png)

[2021-01-12 19:01] derick-montague commented on #34
## Phosphor-webui screen captures

![image](https://user-images.githubusercontent.com/1183515/104360028-1101d780-54d6-11eb-883a-fe5a8a15f3e8.png)

![image](https://user-images.githubusercontent.com/1183515/104360054-17904f00-54d6-11eb-94ae-110e88a55189.png)

[2021-01-29 05:12] LW-Ho opened #50 "Can not login webui-vue"
**Describe the bug**
I can running OpenBMC webui-vue, and then press root and 0penBmc  but always show alert "Invalid username or password"

**Screenshots**
https://imgur.com/Jx4S63S

**Additional context**

TypeError: Cannot read property 'split' of null
    at required (/home/XXXX/Documents/webui-vue-2/node_modules/requires-port/index.js:13:23)
    at Object.common.setupOutgoing (/home/XXXX/Docu

[2021-01-29 17:30] yoshiemuranaka commented on #50
You may be missing the protocol in the .env file `BASE_URL` variable `https://<ip>`

[2021-02-01 01:58] LW-Ho commented on #50
Okay, i found the problem
I referred to CONTRIBUTING.md
- BASE_URL="https://<BMC IP address or FQDN>"`
at last BASE_URL this line have ` , i remove this , the error not show again.

There is a ` in the last line. After I removed it, the error message no longer appeared
But i still can't log in, and server not output any log.

Thanks a lot.

[2021-02-01 02:27] seirespcp commented on #50
Your log says home. Are you running webui-vue on your local machine?
If so, this could be a cross site security issue
See https://github.com/openbmc/phosphor-webui#logging-in

[2021-02-02 09:50] ParishrutB commented on #44
### Firmware Update - Version 2

Improvements:
1. 2 file version added.
2. Minimum firmware required - Systems that are patched with a minimum code required property show this information on the GUI.
2. Simplified process updates.

_________

**Key screen - Single file version**

_Access key expired and server powered on._

**Note:**
- Access key is proprietary and _will not be enabled by default.

[2021-02-02 09:52] ParishrutB commented on #44
### Share your thoughts with us!

- What do you like or dislike about the design?
- Is there anything that you think is confusing?
- Any ideas about where and how we can improve it?

[2021-02-02 21:32] derick-montague commented on #50
I am not sure the phosphor-webui guidance will be helpful as the webui-vue has been easier to run locally. @LW-Ho are there any errors on the browser's dev tools console?

[2021-02-03 16:22] #46 closed

[2021-02-03 16:23] #5 closed

[2021-02-04 01:31] LW-Ho commented on #50
Sorry, I confuse the intention of this front-end and mistakenly think that BMC Host is the IP of the frontend itself. After I realize that BMC is my hardware device, I can log in successfully by opening the BMC device.

[2021-02-04 01:31] #50 closed

[2021-02-04 16:35] derick-montague commented on #50
Glad the issue is resolved and please share any feedback you have about the UI. Thanks!

[2021-02-10 20:52] derick-montague commented on #36
Work completed in https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/39686

[2021-02-10 20:52] #36 closed

[2021-02-10 20:54] derick-montague commented on #44
Some work in progress: https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/40317

[2021-02-11 10:54] Kostr opened #51 "Add a page to see POST code logs"
If a platform doesn't boot it is necessary to know a reason for that. POST code can be a source of such information.

Currently OpenBMC have some POST code monitoring applications: `phosphor-host-postd` and `phosphor-post-code-manager`.

With the help of the `phosphor-host-postd` application it is possible to see a most recent POST code:
[code]
And the `phosphor-post-code-manager` application keep

[2021-02-12 23:23] smcdougal opened #52 "24 hour Time has incorrect time roll over"
**Describe the bug**
When set for 24 hour clock, the time does not roll over from 23:59 to 00:00 as expected. It rolls over from 24:59 to 01:00.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Date and Time Settings page
2. Set to Manual Time (may need to SetNTP to false
3. Set time to 23:59, wait one minute
4. Time should be 00:00, but reads 24:00.

**Expected behavior**
One minute af

[2021-02-13 00:44] smcdougal commented on #52
This looks like it could be Chrome (left) specific. I see the correct time in Firefox (right)

![24h time bug](https://user-images.githubusercontent.com/58791097/107836313-8cfb7380-6d51-11eb-808e-df1680332a77.PNG)

[2021-02-16 18:29] smcdougal commented on #52
This could be an issue with Chromium

Display 24:00:00
•	Chrome (Windows) : Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.150 Safari/537.36
•	Edge (Windows) : Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.150 Safari/537.36 Edg/88.0.705.63
•	Opera (Windows) : Mozilla/5.0 (Windows NT 10.0; Win64;

[2021-02-17 14:22] Kostr opened #53 "Serial-over-LAN terminal screen doesn't resize on window size change"
'xterm' addon used in the "Serial over LAN (SOL) console" page doesn't resize terminal screen on window size change.

If the initial window is small, after its size increase, there would be gaps in the terminal screen workspace.

For example initial size for the separate window for SoL is 600x550:
https://github.com/openbmc/webui-vue/blob/master/src/views/Control/SerialOverLan/SerialOverLanConsole

[2021-02-17 14:36] Kostr commented on #53
I've created a possible solution for this: https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/40677

[2021-02-18 20:22] yoshiemuranaka commented on #44
We've stripped down a lot of what @ParishrutB initially [proposed](https://github.com/openbmc/webui-vue/issues/44#issuecomment-771511732). screenshots below of updated designs

Default build
![FW-default](https://user-images.githubusercontent.com/8097306/108415433-64a4c680-71e2-11eb-95e9-28d962d32ca1.png)
![FW-default-modalUpdateFW](https://user-images.githubusercontent.com/8097306/108415436-65d5f

[2021-02-25 09:03] #53 closed

[2021-02-25 09:03] Kostr commented on #53
Solution was merged upstream

[2021-02-25 14:27] ParishrutB opened #54 "Hardware Inventory and Status (VPD, FRUs and LEDs)"
## Use Case

- As a PE/SSR, I need to be able to perform detailed analysis related to a hardware fault, so that I can point out which hardware components need to be serviced/replaced.
- As an SSR, I need to reference detailed information about one or more components, where they are installed, and switch on required LED indicators before carrying out a replacement.

## Invision Prototype Guidance
T

[2021-02-25 14:33] ParishrutB commented on #54
### Iteration 1 - LoFi Mockup for testing

Hi everyone!

We are starting the design for Hardware VPD, FRUs, and LEDs.

### Glossary
_______________

**VPD** means **Vital Product Data**, such as the serial numbers or model numbers of components.
**FRU** means **Field Replaceable Unit**, or in other words, the hardware components which can be serviced in the field.

### Research
_______________

Fr

[2021-02-25 14:35] ParishrutB commented on #54
### Iteration 1 - LoFi mockup for user testing
____________

We are currently **planning to test an early, LoFi design** with a few users. Here are the **key design features:**

1. Vital system details on the top of the page.
2. Every component type has its own table, e.g. a DIMMs table, a Fans table, etc.
3. Every component table has functions and details necessary for diagnosis and service, such

[2021-02-25 14:36] ParishrutB commented on #54
### Questions:
____________

1. Are these features useful to the community as well? If not, can you point out which ones are not useful or specific to your organization?
2. Any feedback/advice based on your past usage or experience with this page?

[2021-02-26 15:03] dixsie commented on #29
The current xsrf cookie implementation in webui-vue protects against CSRF attacks.

For added security and consistency across different browsers we should add the set-cookie sameSite attribute to strict on the backend. If strict is set “the cookie will only be sent if the site for the cookie matches the site currently shown in the browser’s URL” https://web.dev/samesite-cookies-explained/#explicit

[2021-03-03 10:37] quadpixels commented on #41
Some quick updates:

- Recently we used the prototype DBus visualizer in helping debugging an issue on a Quanta BMC
- Webpack (/usr/share/www/js/chunk-vendors.*.js.gz) size using default build parameters is ~309K; with ApexCharts: ~421K

[2021-03-03 17:34] derick-montague commented on #52
That would be my preference.

[2021-03-03 17:36] derick-montague commented on #51
This was discussed today in the GUI Design Work Group. We will be adding a design for review from the community in the near future. We welcome all contributions if anyone would like to work with the community to design and implement.

[2021-03-10 15:41] derick-montague commented on #29
@gtmills added this change as a test and this change will be need to be implemented in BMCWeb

[2021-03-10 15:43] derick-montague commented on #52
I am going to close this issue. If there are concerns, please comment.

[2021-03-17 19:59] derick-montague commented on #29
We expect this to be resolved by https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/41383.

If no one has a concern, I will be closing this story on Monday, 3/22/21.

[2021-03-18 05:18] derick-montague opened #55 "Firmware: Remove .tar references"
**Is your feature request related to a problem? Please describe.**
Not all organizations will limit the file types of firmware that can be uploaded to .tar files.

**Describe the solution you'd like**
- Remove the accept prop in the file upload component on the firmware page: https://github.com/openbmc/webui-vue/blob/b0fadef1f96df99ff5eb0637527f04bc793c8d6e/src/views/Configuration/Firmware/Firmwar

[2021-03-18 12:03] mmagdzix commented on #55
@derick-montague Please assign this issue to me, thx.

[2021-03-24 16:13] edtanous commented on #43
Since this bug was written, we seem to have checked in more hardcoded resources.  A quick code search shows 3 pages of them present in this repo now.  Considering this is explicitly against the Redfish specification, and we seem to be moving in the wrong direction in that regard.  Any update from the maintainers (or authors of those patches) on when this will get resolved?

There will likely be wo

[2021-03-24 16:46] gtmills commented on #43
Query parameters would help the GUI a lot here.
E.g. Calling `$expand=1` on the Chassis collection to get all the Chassis.
or a combination of $expand and $select to get the power / thermal resources

[2021-03-24 17:08] edtanous commented on #43
Considering $expand isn't required by the specification, technically webui-vue would then need to implement both arbitrary tree walking and $expand to be compliant.  Is a "walk the tree and expand" javascript helper method really that difficult to write?  It seems like it should be < 10 lines of code to dump a specific section of the tree, then, when bmcweb gets $expand support (which is pretty in

[2021-03-29 20:51] derick-montague commented on #55
When you are done, if you could add the URL of this story in your Gerrit commit, that would be great!

[2021-03-30 07:48] mmagdzix commented on #55
No problem, sorry for delay but I was whole week on sick leave.

[2021-03-30 13:29] derick-montague commented on #55
I am sorry to hear that and hope you are feeling better! I was not trying to push. I was just making a suggestion. :)

[2021-03-31 21:42] derick-montague opened #56 "Information Architecture Update"
## Overview
IBM is integrating quite a bit of functionality into the Web UI. We are currently working on a card sort that we will be sharing and requesting feedback and collaboration on with the community.

Our goal is to provide an intuitive experience for all Web UI users regardless of platform. As this application grows, it will be critical that we have a robust information architecture.

## Ta

[2021-03-31 22:28] derick-montague commented on #44
This has already been implemented. If there are bugs with the design, we can open new issues.

[2021-03-31 22:28] #44 closed

[2021-03-31 22:30] derick-montague commented on #54
There will be some new mockups posted in the near future.

[2021-03-31 22:31] derick-montague commented on #45
This is not a requirement for Intel and we have not received feedback from any other community members. This have been implemented and we can address concerns in new issues.

[2021-03-31 22:31] #45 closed

[2021-03-31 22:33] derick-montague commented on #27
There have been design changes, but this story does not seem to be important to any community members other than IBM. We should post in discord and then move it to done if there are no responses.

[2021-04-07 21:20] derick-montague opened #57 "Add information about .env.development.local file in the contributions readme"
**Is your feature request related to a problem? Please describe.**
For users running the Web UI locally, they need to create a `.env.development.local` file that contains:

[code]

**Describe the solution you'd like**
Add this information to the contribution readme along with getting the application setup and running

[2021-04-14 12:06] macpijan commented on #34
Hello. Can I ask what is the status here and where is the blocker (issue link)? What would be the next step to move it forward? Thanks.

[2021-04-14 12:07] macpijan commented on #33
Hello. Can I ask what is the status here and where is the blocker (issue link)? What would be the next step to move it forward? Thanks.

[2021-04-14 16:31] derick-montague commented on #43
Based on conversation at today's GUI Design Work Group, the first step is fixing a bug with Chasis and the Manage Power Operations page. Intel is going to be working on that and sharing up in Gerrit. I will also document in the Work Group meeting minutes that we agreed to not add any more hardcoded endpoints and to start using the odata links.

[2021-04-14 18:20] derick-montague commented on #33
Yes, there is discussion and consensus for a path forward in Gerrit.
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/38599

[2021-04-14 18:26] derick-montague commented on #34
I believe this is a Redfish limitation. @gtmills may be able to better answer that. We have not started any work on this item.

[2021-04-14 19:59] gtmills commented on #34
We have /xyz/openbmc_project/logging/config/remote which is remote syslog.
That is what phosphor-webui used.

Redfish has remote syslog support just no one has added it yet in bmcweb.

https://redfishforum.com/thread/305/redfish-ocp-virtual-summit
look at "Syslog Configuration proposal"

[2021-04-16 11:26] ParishrutB opened #58 "Event logs"
## Use Case
As a _______ user,
I need to be able to _______
so that I can _______.

## Invision Prototype Guidance
The Invision prototypes have hot spots allowing the reviewer to step through the workflow. To navigate a prototype, you can:

1. Click on the page and the hotspots will be revealed in blue
1. Use the arrow-right and arrow-left keys on your keyboard

## Design Review Workflow
1. Each d

[2021-04-21 12:10] mmagdzix opened #59 "Display NIC status in Network settings tab"
EWS should display the NIC link status be either up or down, and link speed for up.

Cannot find any alternative solution.

We want to display following information already provided redfish:

![nic_screeshot](https://user-images.githubusercontent.com/71821504/115551307-25aaf400-a2ab-11eb-9d04-c6bcee34d67c.png)

If this issue will be approved please assign it to me.

[2021-04-28 07:41] ParishrutB commented on #58
### Event/error logs & Hidden logs - Iteration 1

Hello everyone, this is the current iteration for event logs and hidden logs.
_The same table shows both hidden logs and event logs when a CE/Service login credential has been used to log in to this GUI._

***Event logs - Main page***
"Export all log details" and "Delete all logs" are provided at the top of the page as they are one of the key use c

[2021-04-28 16:51] derick-montague commented on #59
Added to the agenda for the May 12th, Work Group meeting. We are planning some design changes to this page and will include this information.

[2021-05-03 22:29] zevweiss opened #60 "In-page "Refresh" button doesn't update sensor readings"
**Describe the bug**
Pressing the "Refresh" button in the upper-right corner of the page displays a progress bar animation and makes a few HTTP requests, but doesn't update the "Current value" readings displayed in the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Health -> Sensors
2. Allow sensors to load
3. Trigger some known change in sensor readings (e.g. increased temps/fa

[2021-05-06 10:15] LeeTroy opened #61 "KVM websocket connection is leaking"
**Describe the bug**
Click on refresh button when launch KVM, the old websocket session will keep alive but create a new one. Click multiple times will raise Max Session issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Control' -> 'KVM'
2. Click on 'Refresh' with four times
3. See KVM disconnection error

**Expected behavior**
Either the old websocket session should be reuse or

[2021-05-07 01:17] LeeTroy commented on #61
Exactly. Even though the KVM status shows disconnected, the underlying 4 websockets are still transmitting the video frames.

When I click on refresh button, the button will emit a `refresh` event.
https://github.com/openbmc/webui-vue/blob/f3022e5c1ad1f4d83d03d996d77094a87f4be8e0/src/components/AppHeader/AppHeader.vue#L205-L207

But KvmConsole.vue doesn't listen and handle the event.
https://githu

[2021-05-26 13:42] ParishrutB opened #62 "POST codes logs and real-time indicators"
## Use Case

**For POST codes logs**
As a PE/SSR/Admin, I need a log of everything that loaded or happened during the boot process, or other processes such as Dumps, so that I can troubleshoot (identify/resolve) an issue that happened during it.

**For real-time indicators**
As a PE/SSR/Admin, I need to be able to the POST codes update in real-time while troubleshooting a process (Boot, Dump etc.)

[2021-05-26 14:37] ParishrutB commented on #62
### Iteration 1

Hello everyone, this is the current iteration for POST codes - both logs and real-time indicators.
POST codes shown will either be ASCII codes or HEX codes depending on the machine's backend implementation.

**Main page**

- Key action 1: "View real-time indicators in new window" open the real-time indicators in a new window.
- Key action 2: "Export all POST code logs" exports all

[2021-05-27 22:06] derick-montague commented on #61
Thank you for uncovering and sharing this bug. I have added it to the help wanted Project. I believe that Intel is using the feature. I will add it to the next design work group meeting agenda if someone doesn't pick it up before then. @mszopinx or @mmagdzix - Have either of you experienced this issue?

[2021-05-27 22:17] derick-montague opened #63 "Login page redesign"
## Design Review Workflow
## Iteration 1
To support corporate brands and to modernize the overall aesthetics of the UI, the following changes are being proposed.

## As Is experience
![image](https://user-images.githubusercontent.com/1183515/101546006-bc66bc00-396d-11eb-8035-3f88f5d5b9ca.png)

## To Be experience
<img width="1260" alt="image" src="https://user-images.githubusercontent.com/1183515/

[2021-05-27 22:34] derick-montague opened #64 "Information architecture (IA) update proposal"
## Overview
As new features and functionality are being added to Redfish, we spent several months testing with users to find the an information architecture that will be intuitive for new and existing user. During the IA study, we tested with 36 participants and 2 user groups on 16 different scenarios utilizing the Optimal Workshop User Experience Research platform.

## Goal
The goal of this work

[2021-05-28 14:42] #54 closed

[2021-05-28 14:43] derick-montague commented on #64
Closing -> Duplicate of #56

[2021-05-28 14:43] #64 closed

[2021-06-03 15:07] #56 closed

[2021-06-07 08:34] CarrieQi commented on #60
This problem can be solved by modifying
`setSensors: (state, sensors) => {
      state.sensors = uniqBy([...state.sensors, ...sensors], 'name');
    },`
 to
`state.sensors = uniqBy([...sensors, ...state.sensors], 'name');
`
in SensorStore.js file

[2021-06-07 22:07] derick-montague commented on #33
SNMP has been moved to a page called alerts, which is under review in Gerrit waiting for backend changes.

[2021-06-07 22:08] #29 closed

[2021-06-09 15:25] derick-montague commented on #59
We discussed this today in the community work group. I will post the first design iteration here later today for further discussion.

[2021-06-16 05:19] leiyu-bytedance commented on #61
We hit exactly the same issue.
It looks like the webui should either re-use the WebSocket, or close it when the page is refreshed or goes out of the KVM page.

[2021-06-17 20:47] paulnegz opened #65 "Log In Details"
Hi,
what is the default username and password to login to web browser?

[2021-06-22 12:11] ParishrutB opened #66 "PCIe Hardware Topology"
## Use Case
As a PE/Admin/SSR, I need to troubleshoot the connection problems so that I can fix issues with cabling and connectivity between servers and expansion drawers.

## Design Review Workflow
1. Each design iteration will have a comment section
1. The section will include:
    - A title with the iteration number
    - Any description or specific feedback the designer is requesting
    - Scr

[2021-06-22 12:23] ParishrutB commented on #66
### Iteration 1

In the first iteration, we have made 2 concepts A and B. Both of them are being tested with internal users and experts. So far, 2/3 users have found Concept A sufficiently usable while they all preferred Concept B as it showed the I/O slots on the main rows rather than hiding them inside the expansion rows.

### Concept A

**Main screen**
![Screenshot 2021-06-22 at 17-46-33 eBMC U

[2021-06-22 12:27] ParishrutB commented on #66
Questions to the community:

- Is this useful for you?
- Are there any details that are not shown by your systems?

- What the copy be for the following:
- Link ID (may also be known as Bus ID)
- Local port , remote port

[2021-06-22 12:44] ParishrutB opened #67 "I/O Enclosure Settings"
## Use Case
As a PE/SSR/Admin, I need to be able to see the enclosure settings so that I can diagnose issues related to them or to the system in general.

## Design Review Workflow
1. Each design iteration will have a comment section
1. The section will include:
    - A title with the iteration number
    - Any description or specific feedback the designer is requesting
    - Screenshots of the wo

[2021-06-22 14:28] ParishrutB commented on #67
### New Design

**Following features were removed on discussion with internal users and engineering team:**
1. Ability to update firmware for drawers
2. Firmware update status, start time
3. Firmware update policy
3. Loop update
4. Unit address and Rack address
5. Enclosure active/inactive status and ability to remove an inactive enclosure

**Main screen**
![Screenshot 2021-06-22 at 19-57-16 Raini

[2021-06-22 18:38] #65 closed

[2021-06-23 12:16] mmagdzix commented on #61
@derick-montague We could reproduce this issue and working on fixing it.

[2021-06-23 15:35] mmagdzix commented on #61
Sorry I missed that fixed is was already prepared. I have reviewed it and tested.

[2021-06-23 15:48] derick-montague commented on #61
Resolved by: https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/44223

[2021-06-23 15:49] #61 closed

[2021-06-24 05:56] leiyu-bytedance opened #68 "Unexpected hard-coded chassis ID"
The URL related to chassis is hard-coded in the webui-vue:
[code]

This is unexpected, because the `chassis` part is not hard-coded, but reflects the chassis name defined in entity-manager json.
E.g. on g220a system, the chassis URL is `/redfish/v1/Chassis/G220A`
[code]

The webui code should retrieve the URI from the `@odata.id` part in `/redfish/v1/Chassis`'s response, and use the correct URL in

[2021-06-24 09:54] priyanka-pillai97 opened #69 "Bios Settings - Logical Memory Block Size, System Memory Page Setup,"
## Use Case
As an Admin, I need to configure and manage memory on our servers to utilize their capacities more efficiently.

## Design Review Workflow
1. Each design iteration will have a comment section
1. The section will include:
    - A title with the iteration number
    - Any description or specific feedback the designer is requesting
    - Screenshots of the workflow
1. Based on community a

[2021-06-24 10:02] priyanka-pillai97 commented on #69
- Logical Memory Block Size: The logical block size is the size of the blocks that the kernel uses to read or write files.
- System Memory Page Setup: Improve the application’s performance by setting large virtual memory page sizes of 16GB each.
- I/O adapter enlarged capacity:  This option controls the size of PCI memory space allocated to each PCI slot.
![BIOS-1](https://user-images.githubuserco

[2021-06-24 10:03] priyanka-pillai97 commented on #69
Questions to the community:
- Are any of these terminologies IBM specific?
- Is this setting useful to you?

[2021-06-26 14:24] samerhaj commented on #69
These do not seem to be common BIOS settings that I have seen before. Possibly IBM specific terminologies and capabilities?  I also have not seen any corresponding settings in the Redfish modeling, including the Redfish BIOS Schema which is a set of name/value pairs of BIOS Attributes.

[2021-06-26 14:28] samerhaj commented on #62
Can we use a a more common terminology than "POST"? How about "Boot Progress"? This is more consistent with industry standard terminology such as Redfish (see "BootProgress" property in https://redfish.dmtf.org/schemas/v1/ComputerSystem_v1.xml). Also, Arm servers define a "Boot Progress" code that is 64-bits, derived form UEFI Status Codes (See https://developer.arm.com/documentation/den0069/lates

[2021-06-26 14:32] samerhaj commented on #66
Can the location strings be customized to use implementation specific terminology?

Some implementations may prefer mappings to user serviceable location strings, using common terminologies such as slot, port, bay, riser, front/back, top/bottom, etc.. This is also consistent with the Redfish PhysicalContext schema which is used to describe components locations: https://redfish.dmtf.org/schemas/v1/

[2021-07-08 02:28] derick-montague commented on #59
## Design proposal v1
![image](https://user-images.githubusercontent.com/1183515/124852698-4dd0f780-df6a-11eb-936e-b28f882465ff.png)

[2021-07-09 15:27] derick-montague commented on #63
Discussed with the community in the work group and reached consensus on moving forward with this design.
https://github.com/openbmc/openbmc/wiki/GUI-Design-work-group#login-page-redesign

[2021-07-19 20:07] habeebmohammed opened #70 "hostname can't be modified in DHCP mode from Network settings page"
**Describe the bug**
In DHCP mode, Hostname alone can't be updated from WebUI. Default gateway field is required too.
In DHCP mode default gateway should be grayed out.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'overview - Networksettings page'
2. Click on hostname and modify the value.
3. Scroll down to 'save settings'
4. See error "field required" for the Default gateway.
    H

[2021-07-19 23:56] dixsie commented on #70
I'm not sure why gateway should be disabled if DHCP is enabled. Users are still able to add static ipv4 addresses even when dhcp is enabled. The way the Redfish response is structured, the gateway is saved as a property associated with each static ipv4 address (which is always editable).

- Why shouldn't users be allowed to edit gateway when DHCP is enabled?
- Is the form structure confusing or do

[2021-07-20 03:50] derick-montague commented on #70
I think the issue here is that the hostname can't be saved due to the Default gateway being a required field. I don't know why default gateway is  required at all. If the default gateway is null, it should default to 0.0.0.0. I expect to happen on the backend. If that is not true, we will need to make sure to send that value if the field is left empty. I don't think it should be a required field.

[2021-07-20 04:15] habeebmohammed commented on #70
Yes, That is correct. Hostname alone should be able to set.

[2021-07-20 13:24] dixsie commented on #70
Thanks for clarifying! 🙂 I'll update and make the change.

[2021-07-22 11:58] ParishrutB opened #71 "Server overview and header content"
## Use Case

**For overview page:**
As an admin, PE or SSR, I need to be able to get comprehensive information about the system so that I can be sure that I have logged into the correct system and find the required information quickly.

**For header:**
As an admin or SSR, I need to be able to see system information on the top for easy identification and get a high level status overview of the syst

[2021-07-22 12:01] ParishrutB commented on #71
### Iteration 1

The following iteration has been tested with users. The content shown on this page is almost final. We are in the process of making small changes to the layout/hierarchy on this page based on feedback that we are collecting from the users.

[2021-07-22 12:06] ParishrutB opened #72 "Key Clear"
## Use Case
As an admin or SSR,  I need to clear the security keys so that:
- any sensitive data is not accessible on the system partitions anymore. 
- to install new keys when the old ones are lost or compromised.

This is useful in following scenarios:
- There are use cases where the customer wants to clear all sensitive data, for example when returning to manufacturer, resale, repair or changes

[2021-07-22 12:12] ParishrutB commented on #72
### Iteration 1

Depending on the use case, the user can select which sensitive data needs to be cleared from the system. If the use case is to repurpose, resell, or return the entire system, then "Clear all" is used. If the use case is to reset specific keys, then other options are used.

![image](https://user-images.githubusercontent.com/61419136/126637048-f24783cd-5fcd-462b-879f-8f270031817b.pn

[2021-07-22 12:14] ParishrutB commented on #72
### Feedback requested

1. Are there any terms here which you think are not generic for the community?
2. Should the title be "Clear sensitive data" or is "Key clear" understandable? (Key clear is the redfish term)

[2021-07-22 15:38] joseph-reynolds commented on #72
For the Warning box shown above, consider using the term "data loss", as in performing this operation will result in data loss.  then characterize what data will be lost: for example, will hypervisor partition data be lost?  anything else?

[2021-07-28 09:17] leiyu-bytedance opened #73 "Firmware: Added file gets removed after clicking "Add file" and cancel"
**Describe the bug**
In the "Firmware" page, after selecting a file to upload, the file is shown below "Add file" button.
Then if one clicks the "Add file" again and cancel the selection in the dialog, the file below the "Add file" button is removed and a red "Required" is shown instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Firmware' page
2. Click on 'Add file', select a ta

[2021-08-04 20:25] derick-montague commented on #56
Verification of support for this at today's OpenBMC GUI Design Work Group.

[2021-08-04 20:59] derick-montague commented on #59
At today's GUI Design Work Group we reviewed a new version of this design and have the following needs prior to the next review:

- Do we need to show and edit FQDN. We have not in the past.
- Need a way to show all DHCP info including default gateway. The goal was to use the IPv4 table for all addresses, but that has some limitations regarding showing the default gateway
- We will use this story

[2021-08-05 15:36] dixsie commented on #70
Work for this issue will be completed with the network settings page redesign. Conversation for the redesign can be found here https://github.com/openbmc/webui-vue/issues/59#issuecomment-876071256

[2021-08-06 17:24] edtanous commented on #43
Any progress on this?  I would happy to help make this a higher priority for the maintainers by obfuscating the bmcweb URI identifiers, but I suspect it'd be better for everyone for the authors of the incorrect webui-vue patches to put up fixes ahead of time.  We're rounding 11 months since this bug was opened, and thusfar we've only had negative progress, with more hardcoded identifiers in webui-

[2021-08-10 18:24] gtmills commented on #43
This is the Chassis Collection and the URI is defined here
https://redfish.dmtf.org/schemas/v1/ChassisCollection_v1.xml

[code]

Although webui-vue could start at the service root and walk the tree from there, I think hardcoding the Chassis collection, Manager collection, and ComputerSystem collection is a lot lower priority / a lot less of a violation than hardcoding Ids, e.g.  '/redfish/v1/Chass

[2021-08-10 19:44] edtanous commented on #43
That's great news, and I think will help in the long run.

While I don't disagree with you about the priorities, I think it's somewhat missing the greater design that Redfish is itself a tree, with various views into it, rather than just looking at it from a request/response perspective.  If each individual page is manipulating the view ports, this means that as we go into the future and add $expa

[2021-08-10 19:44] edtanous commented on #68
Duplicate/more specific case of: https://github.com/openbmc/webui-vue/issues/43

[2021-08-11 02:06] leiyu-bytedance commented on #43
There is https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/44850 trying to fix the chassis case.
It got two +1s but the maintainer had a concern about the change

[2021-08-11 03:25] derick-montague commented on #43
The hard coded path for Chasisis is updated, but then the there are two concerns:
1. Targeting the first item in the collection
2. Hard coding the path to Power

[code]

[2021-08-18 07:03] leiyu-bytedance opened #74 "Show PowerOff state in KVM screnn when host is powered off"
**Is your feature request related to a problem? Please describe.**
When a user opens the KVM page when host is powered off, the page indicates that the KVM is connected, but it shows a black screen.
Although it's expected, this somehow confuses the user who may think the KVM is not working.

**Describe the solution you'd like**
It will be much better to show some text like "Powered Off" on the bla

[2021-08-18 20:08] derick-montague opened #75 "Document all the Vue App environmental settings"
**Is your feature request related to a problem? Please describe.**
No, it's related to creating transparency for UI developers to know about all the possible vue app env settings

**Describe the solution you'd like**
Add a section to the customization section of the UI documentation

**Describe alternatives you've considered**
Expecting the user to look through all the companies .env files and det

[2021-08-18 20:12] derick-montague commented on #74
It sounds like the power status in the header was not noticed. We do have some other pages where we are showing the power status on the page as well.

When you say users are confused, does that mean you think that users will be confused or you have interviewed or worked with users that have had issues?

[2021-08-19 02:08] leiyu-bytedance commented on #74
Yup, the power status is in the header, but the user who uses the KVM usually focuses on the KVM screen.

We have real users who already complain about this. They would like to see text like "Powered Off" on the KVM screen, instead of in the header of the web page.

[2021-09-03 12:39] Kostr opened #76 "Different UI elements don't have translation"
I've synchronized `ru-RU.json` translation file with the `en-US.json` file, but still I see that some UI elements lack translation.

Here is a summary of the issues that I've found on my system:

Sensors page (hardware-status/sensors):
![2021-09-03_15-20-14](https://user-images.githubusercontent.com/2064127/132005428-00cc20bf-95f5-42d8-b974-a2274950f7d8.png)

Server power operations (operations/se

[2021-09-03 12:45] derick-montague commented on #76
Closing based on [comments in Discord](https://discord.com/channels/775381525260664832/776550056391606352/883330629209571328)

[2021-09-03 19:25] gtmills commented on #76
I don't think these are in yet. Reopened.

[2021-09-06 09:47] Kostr opened #77 "Add an ability to override boot mode (UEFI/Legacy) in x86 systems"
If the main CPU architecture is x86, besides overriding the main boot target (None/Pxe/Hdd/Cd/Diags/BiosSetup/Usb) it is also possible to override the target boot mode (None/UEFI/Legacy).

Descriptions from the `https://<IP>/redfish/v1/JsonSchemas/ComputerSystem/ComputerSystem.json`
[code]

[code]

In case of a x86 system `BootSourceOverrideMode` is populated to the page `https://<IP>/redfish/v1/S

[2021-09-13 16:28] dixsie commented on #76
@gtmills this was closed because these strings are generated dynamically from Redfish and that is why they aren't translated on the front-end. I think the "privilege" label on Local User management can be translated.

[2021-09-14 08:30] Kostr commented on #76
Thanks for the explanation.
But isn't there a possibility to include these Redfish enum properties in the translation?
Because having whole sentences like `The system always remains powered off when power is applied` makes a translation look incomplete.

[2021-09-14 11:38] derick-montague commented on #76
We discussed this at one point and it was suggested that we would provide translation server-side. We expected that we could send the language as a parameter and the values in the response would be returned translated. Whether that is realistic or not, I'm not sure. I do think that there could be some mapping of terms like enabled and disabled or boolean values.

If that was the decision, any chan

[2021-09-14 15:22] williamspatrick commented on #76
It isn’t obvious to me that this would be valid by the Redfish spec, but there are some words in the spec that I don’t fully grasp.

https://www.dmtf.org/sites/default/files/standards/documents/DSP0266_1.13.0.pdf

I think this is saying that we would have to provide alternative copies of the schema in various languages and on the client-side the application would need to take the English enumerati

[2021-09-15 18:48] dixsie commented on #76
Discussed at the community [GUI design work group](https://github.com/openbmc/openbmc/wiki/GUI-Design-work-group) today.

[2021-09-16 14:04] williamspatrick commented on #76
Are there minutes from that discussion that didn't end up in the linked-to wiki entry?

[2021-09-17 08:23] johnlliiuu opened #79 "Add a section to update session timeout"
Redfish has the ability to configure session timeout. Is it possible to add a configure section in web UI? Below is what my design page looks like.
![timeout_setting](https://user-images.githubusercontent.com/85477545/133749671-abad9125-39d9-4554-a4bb-e84ae2129c08.PNG)

[2021-09-29 11:12] derick-montague commented on #59
## Design Proposal v2

### Invision mock up
https://ibm.invisionapp.com/share/V5O1KG1HPT4

### Screen captures

![Network Settings - Eth0 - DHCP on](https://user-images.githubusercontent.com/1183515/135257396-26fb8c07-9530-4777-bdff-f511db20343d.png)

![Network Settings - Eth0 - DHCP Off](https://user-images.githubusercontent.com/1183515/135257399-52d2b053-50f2-4418-aaf1-2573f83e284e.png)

[2021-09-29 15:57] derick-montague commented on #59
This was discussed in the GUI Design Work Group today and was accepted as the path forward.

[2021-10-05 18:22] singhscp opened #80 "Web GUI will only show the first 1000 event entries."
**Describe the bug**
If System Event log has more than 1000 entries, web GUI will only show the first 1000 entries. bmcweb returns a maximum of 1000 entries for a query but if additional entries exist, it returns something like
   "Members@odata.nextLink": "/redfish/v1/Systems/system/LogServices/EventLog/Entries?$skip=1000",
to indicate that additional entries exist.

**Expected behavior**
Web GUI

[2021-10-07 16:55] dixsie commented on #80
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/45230

[2021-10-08 06:47] leiyu-bytedance commented on #73
Could you report this issue to vue?

[2021-10-11 19:07] dixsie opened #81 "Date and time page should not patch empty string in NTP server array"
**Describe the bug**
The UI should not patch an empty string to the NTP server array as this is not valid per redfish spec.

See conversation here for more info https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/47344

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Date and time page
2. Select NTP and submit form with at least one empty field.
3. See `""` patched in the index of the

[2021-10-19 06:16] Kostr opened #82 "Page headings don't get translated on language change until page refresh"
When the language is changed everything is getting translated to the new language right away except the page headings. They stay in the old language until the page refresh.

Example:
- login with Russian
- exit to the login page
- change language to English and login
- this would result with such bug:
![2021-10-19_09-09-17](https://user-images.githubusercontent.com/2064127/137853464-e3de3f20-4384-

[2021-10-25 01:37] fishermess opened #83 "作为前端人员，请问如何提升编译的速度或者说实时查看自己对前端页面的修改结果。"
本人工作使用的phosphor-webui，angularjs。每次修改完代码后都需要进行三步操作：bitbake phosphor-webui、bitbake obmc-phosphor-webui、run image。执行这三步编译、运行镜像的时间成本极高，不能实时查看我的修改结果。有的时候等了10分钟，最后报错，检查代码发现原因是少写了一个字母，实在令人崩溃，请问各位前端开发人员是怎么解决这个问题的？一定要编译并运行整个镜像才能看见代码修改后的结果吗？

[2021-10-25 03:23] fishermess opened #84 "您需要登录才能查看标题。通过在“BMC HOST OR BMC IP ADDRESS”字段中键入 QEMU 会话（例如 localhost:2443），将 Web UI 指向您的 QEMU 会话。"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-10-25 03:24] #84 closed, assigned to nobody

[2021-10-25 06:12] fishermess opened #85 "webui看过来！！！以下方法无效！！！ 您需要登录才能查看标题。通过在“BMC HOST OR BMC IP ADDRESS”字段中键入 QEMU 会话（例如 localhost:2443），将 Web UI 指向您的 QEMU 会话。"
如果真的在8080端口的“BMC HOST OR BMC IP ADDRESS”字段输入127.0.0.1:2443，无效，显示Server unreachable。2443镜像已经启动！！！

[2021-11-03 16:11] fishermess commented on #83
Thanks for your answer,but I have question still.Is the port nubmer 8001? It is says in the terminal.I just tried the port 8003 doesn't work,but 8001 do.Otherwise,I typied account and passwd as "root/0penBmc",but it shows invalid.How can I overcome this issue?
Desire to your reply!

[2021-11-04 01:18] fishermess commented on #83
npm run serve应该只可以做到运行UI部分这一件事情吧？与BMC后端通信的命令是？

[2021-11-04 03:31] fishermess opened #86 ".env.development.local文件的环境变量配置文档中的不正确"
在“.env.development.local”中，内容应该是
BASE_URL="https://localhost:2443"

网页版把<>内部的东西隐藏了看不见！要去源码里面看！

[2021-11-10 15:32] dixsie opened #87 "Keep alive not working in chromium browsers"
https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/45175

https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/47767

https://discord.com/channels/775381525260664832/776550056391606352/896145249217417226

[2021-11-10 15:38] dixsie commented on #35
resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/46960

waiting to update hardcoded endpoints

[2021-11-10 15:42] dixsie commented on #80
Work being done in 45230: Change loading event logs | https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/45230

[2021-11-10 15:45] dixsie commented on #55
resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/42455

[2021-11-10 15:45] #55 closed

[2021-11-10 15:47] dixsie commented on #43
POC: 47141: Remove hardcoded api urls | https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/47141

[2021-11-17 03:24] fishermess opened #88 "when is endLoading?"
I find those input label are staying in disabled because of "loading",whose value is false after startloading() funtion.
![image](https://user-images.githubusercontent.com/40992360/142128962-7b54b890-94b1-44c4-b597-85ab0952753e.png)
when is the end of loading,and cancel the disabled of these input labels.
![image](https://user-images.githubusercontent.com/40992360/142129082-1cc4d70c-3fe1-4e93-a6f4

[2021-12-03 14:15] Kostr opened #89 "Progress bar never disappears on the Overview page"
At least on some systems (for example AMD EthanolX CRB) progress bar never disappears on the Overview page.

From some testing I've discovered that this issue is happening because of this promise:
[code]
https://github.com/openbmc/webui-vue/blob/5e5b48b0a452b5b121b9221019cf7616545b188b/src/views/Overview/Overview.vue#L63

`overview-dumps-complete` is emitted here:
[code]
https://github.com/openbmc

[2021-12-03 15:12] dixsie commented on #89
@Kostr Some work has been pushed to resolve this bug here https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/49186

[2021-12-03 16:13] jmbills commented on #87
I brought this up in Discord and it was suggested that this is not related to keep-alive but rather to a timer_queue limitation.  I tested the recommended changes to the timer_queue in bmcweb and it seems to resolve the issue on my system.

Here is the info from Discord:
edtanous — Yesterday at 1:18 PM
keepalive should have no effect on the logged in/logged out status of a user
whether a user is l

[2021-12-03 21:18] kennyneedsmilky commented on #89
@Kostr , can you check later to see what kind of error you get when you put https://localhost:8000/redfish/v1/Managers/bmc/LogServices/Dump/Entries into the browser?

[2021-12-03 21:45] dixsie commented on #89
@kennyneedsmilky dumps are IBM specific so this bug also includes not throwing an error when that path is not available

[2021-12-03 22:25] kennyneedsmilky commented on #89
@dixsie @Kostr, if that is the case, then I don't see any .catch() in the Promise.all in Overview.vue . Even though it has a .finally(), if there isn't a .catch() before the .finally() . .catch() can be used to console.log the rejection, but .finally() will run its function regardless of getting a resolve or rejection. I'm not 100% sure if this is the absolute solution, but it is a giant step clos

[2021-12-03 23:32] jmbills commented on #87
This change proposed by Ed also appears to resolve the issue on my system: https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/49318.

[2021-12-16 22:10] dixsie commented on #81
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/48791

[2021-12-17 08:54] Kostr commented on #89
I've tried this patch and it doesn't resolve the issue https://github.com/openbmc/webui-vue/issues/89

Page returns:
[code]
Since
[code]

[2022-01-05 16:08] dixsie commented on #87
Keep alive is not the issue, see Discord.

Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/bmcweb/+/49318

[2022-01-05 16:08] #87 closed

[2022-01-05 16:10] dixsie commented on #68
resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/44850

[2022-01-05 16:10] #68 closed

[2022-01-05 16:14] dixsie commented on #59
Resolved by https://gerrit.openbmc-project.xyz/c/openbmc/webui-vue/+/48197/14

[2022-01-05 16:14] #59 closed

[2022-01-05 16:19] #81 closed

[2022-01-05 16:20] dixsie commented on #35
@gtmills is this ready in redfish to merge in Gerrit?

[2022-01-05 19:18] gtmills commented on #35
I think so but Ed wants the hardcoded endpoints done first so you will have to talk with him if you want it in upstream

[2022-01-14 01:44] fishermess opened #90 "How can I resolve the problem of connection of websocket?"
How can I resolve the problem of connection of websocket?I find no bug in codes of webui-vue project.
![)J}A2Q% 5FKTE082`Z6K)%U](https://user-images.githubusercontent.com/40992360/149437106-2cb1025d-8d48-4796-b71b-4596960cf845.png)

[2022-01-14 01:45] #88 closed

[2022-01-14 01:45] #83 closed

[2022-01-14 01:45] #85 closed

[2022-01-19 03:57] stevenlee7189 opened #91 "Web GUI doesn't redirect to login page after session timeout"
**Describe the bug**
After session expired, if users stay on KVM or Virtual Media page and switch pages between KVM and Virtual Media pages, web gui doesn't redirect to login page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Operations'
2. Click on 'KVM'
3. Wait until session expired
4. Click on 'Virtual Media', gui doesn't redirect to login page.
5. Click on 'KVM', KVM staus show

[2022-01-19 16:07] dixsie commented on #89
Still not resolved

[2022-01-20 20:12] jmbills commented on #70
It looks like this was fixed in the redesign.  I am able to update my BMC hostname from the new Network Settings page while in DHCP mode.

[2022-01-20 20:23] derick-montague commented on #70
I love it when a plan comes together!

[2022-01-24 16:15] geissonator opened #92 "meta-phosphor/recipes-phosphor/webui/nlf_2.1.1.bb no longer bulds with latest yocto"
**Describe the bug**
webui-vue does not build any longer with the latest upstream yocto rebase

The error is the following:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Build code with latest yocto subtree updates - https://gerrit.openbmc-project.xyz/c/openbmc/openbmc/+/48473/

**Expected behavior**
Code should build

**Screenshots**
N/A

**Desktop (please complete the following in

[2022-02-08 00:34] jorgecis commented on #92
I have a problem compiling WebUI with the last yocto, the problem is a new security feature, to fix my issue I modified the recipe

`devtool modify webui-vue
`

to add this line.

`do_compile[network] = "1"
`

[2022-02-17 17:54] gsivaprabu commented on #52
How to run locally, How to get the API responses successfully possible to guide / help ?

[2022-02-23 07:53] fishermess commented on #90
New found!It only get problem of websocket connection when use "npm run serve" command to visit image by proxy.And it works well in websocket connection when connect image directly by its own ip address.
![}H~N @AO2XOLB(WK6VA54`V](https://user-images.githubusercontent.com/40992360/155279470-1da6cb6a-cc85-4ffa-8a17-b2f13da27aee.png)
![image](https://user-images.githubusercontent.com/40992360/155279

[2022-04-19 05:46] huchunliang commented on #89
mounted() {
    this.endLoader();
  },is this ok?

[2022-06-15 18:07] dixsie opened #93 "Fix vulnerabilities"
## Overview
Update all the minor and patch releases and test. It is important to `only` update minor and patch releases. Major releases are known to have breaking changes that we need to spend more time testing.

## UX Flow / Interaction Requirements
1. `npm outdated`
1. `npx npm-check-updates -u`
2. Check `package.json` diff and undo the ones with major releases
1. `npm install`
2. test and check

[2022-06-15 18:10] dixsie commented on #93
https://gerrit.openbmc.org/c/openbmc/webui-vue/+/54116

[2022-06-25 07:39] semicloud opened #94 "Websocket does not work in development mode."
I set `BASE_URL="https://localhost:2443"` in file `.env.development.local`, then run `npm run serve`.

My question is https requests can proxy to `https://localhost:2443`, but websocket proxy failed.

I add `ws: true` to `vue.config.js` but still not work.

[2022-07-12 21:20] #70 closed

[2022-07-20 14:50] dixsie opened #95 "Migrate to Vue 3"
## Overview
[Migration docs](https://v3.vuejs.org/guide/migration/migration-build.html#overview)

### Requirements
- [ ] Update Bootstrap Vue for Vue 3
- [ ] Add emits property for custom component events
- [ ] Import nextTick
- [ ] Move child :key value in v-for loop into wrapper `<template>`
- [ ] Remove global filter registration
- [ ] Remove unnecessary container elements
- [ ] Remove Vue2 tra

[2022-07-20 14:56] dixsie commented on #95
Dixsie's attempt April 4, 2021

[2022-07-20 15:14] dixsie commented on #95
BootstrapVue is currently does not support Vue3

https://bootstrap-vue.org/docs

[2022-07-20 15:30] edtanous commented on #95
It looks like bootstrap-vue-3 exists in an early state?

https://www.npmjs.com/package/bootstrap-vue-3

[2022-07-20 15:38] edtanous commented on #95
This is handled in my patch

Filters deprecated

I didn't see this one in my tests;  Maybe it was a regression that was fixed later?

Props default value factory functions no longer have access to this

There was one instance of this, and I think I resolved it by moving to the more common pattern (I think).  I added a comment on my review on this line for someone with more knowledge to review.

[2022-07-22 04:58] sivaprabug commented on #95
Any plan to adopt Pinia & Vite ?

[2022-07-22 19:05] bnagaiah commented on #36
In the latest source this feature is missing. There is no radio button available for DHCP

[2022-07-26 08:39] OguzhanCaglar opened #96 "Can't Login the website"
I can't pass the login page. I filled the password and username bar but the website respond me "Invalid username or password".

My .env.development.local file is :
BASE_URL="https://localhost:8000"

I changed the file as follows:
BASE_URL="https://"`

but now it respond me after the command "npm run serve" like this --> "TypeError: Cannot read property 'split' of null" in npm

[2022-07-26 09:17] #96 closed

[2022-09-07 07:21] fanxp-666 commented on #94
Is it resolved now?

[2022-09-26 23:32] zevweiss opened #97 "Serial console opened in new tab shows spurious "must be powered on to connect" error"
**Describe the bug**
Opening the SoL console in a new tab displays an error message saying "System must be powered on to connect" even when the system is powered on, and shows the status as "Disconnected" while the main SoL page shows "Connected".  The SoL console functions normally despite the error, but it's confusing & misleading.

**To Reproduce**
Steps to reproduce the behavior:
1. With the h

[2022-11-07 05:49] wayne-tung commented on #97
In commit: 4dd7eabfa4476e264e051dc0178a333452a6b175

We changed the "**getServerStatus**" to "**getSystemInfo**" in GlobalStore.js

We still used old store API "**global/getServerStatus**" to get current server status in SOL page "**created**" function.

[2022-11-10 09:59] #60 closed